CUFX/Schemas/Application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://cufxstandards.com/v2/Application.xsd"
  version="2.0.$Revision$"
  xmlns="http://cufxstandards.com/v2/Application.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v2/Common.xsd"
  xmlns:credit="http://cufxstandards.com/v2/CreditReport.xsd"
  xmlns:party="http://cufxstandards.com/v2/party.xsd"
  xmlns:productOffering="http://cufxstandards.com/v2/ProductOffering.xsd"
  xmlns:loan="http://cufxstandards.com/v2/Loan.xsd"
  xmlns:deposit="http://cufxstandards.com/v2/Deposit.xsd"
  xmlns:relationship="http://cufxstandards.com/v2/relationship.xsd"
  
  elementFormDefault="qualified" >

  <xs:import schemaLocation="Common.xsd"	namespace="http://cufxstandards.com/v2/Common.xsd"></xs:import>
  <xs:import namespace="http://cufxstandards.com/v2/party.xsd" schemaLocation="party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/CreditReport.xsd" schemaLocation="CreditReport.xsd" />
  <xs:import namespace ="http://cufxstandards.com/v2/ProductOffering.xsd" schemaLocation ="ProductOffering.xsd" />
  <xs:import namespace ="http://cufxstandards.com/v2/Loan.xsd" schemaLocation ="Loan.xsd" />
  <xs:import namespace ="http://cufxstandards.com/v2/Deposit.xsd" schemaLocation ="Deposit.xsd" />
  <xs:import namespace ="http://cufxstandards.com/v2/relationship.xsd" schemaLocation ="relationship.xsd" />

  <xs:element name="applicationList" type="ApplicationList">
    <xs:annotation>
      <xs:documentation>
        Top level application list collection element
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ApplicationList">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
          Collection of applications data definition
        </xs:documentation>
      </xs:annotation>
      <xs:element name="application" type="Application" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An application contains the details becoming a consumer of a financial institution if they
            are not already along with the details of the products requested.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Application">
    <xs:annotation>
      <xs:documentation>
        An application contains the details becoming a consumer of a financial institution if they
        are not already along with the details of the products requested.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationId" type="xs:string" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the application in the back end system..
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicationStatus" type="ApplicationStatus" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Status of the application.  Where is the application in the approval process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name ="productAppliedForList" type="ProductAppliedForList">
        <xs:annotation>
          <xs:documentation>
            Products applied for and their requested amounts, quoted rates, etc..
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicantList" type="ApplicantList" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            List of applicants for the products.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="finalCreditBureauScore" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Credit score that was used to approve the application.  This is typically calculated
            using a variety of methods at each financial institution based on the credit report data for
            either primary or joint or combination fo primary and joint credit statistics.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApplicantList">
    <xs:annotation>
      <xs:documentation>
        List of applicants for the product.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicant" type="Applicant" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            Collection of fields to describe an applicant for the product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Applicant">
    <xs:annotation>
      <xs:documentation>
        Collection of fields to describe an applicant for the product.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="role" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Primary"></xs:enumeration>
            <xs:enumeration value="Secondary"></xs:enumeration>
            <xs:enumeration value="AuthorizedUser"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="creditReportList" type="credit:CreditReportList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Details relating credit scores used in determining loan approval
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relationshipId" type="relationship:RelationshipId">
        <xs:annotation>
          <xs:documentation>
            Key fields to point to an existing relationship that product(s) should
            be added to in the event they are to be booked.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="PartyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Key fields to point to an existing party applying for a product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name ="party" type ="party:Party"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Use if this application is for a new Party that does not yet exist on the back end systems.
            Contains a list of contacts for how the party would like to be contacted.
            There may be a very limited subset of party data available as this is an application for a new
            party and the amount of information provided for the applicant may be minimal.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductAppliedForList">
    <xs:annotation>
      <xs:documentation>
        Products applied for and their requested amounts, quoted rates, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productAppliedFor" type="ProductAppliedFor">
        <xs:annotation>
          <xs:documentation>
            Product applied for and its requested amount, quoted rate, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductAppliedFor">
    <xs:annotation>
      <xs:documentation>
        Product applied for and its requested amount, quoted rate, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productAppliedForId" type="xs:string" minOccurs ="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Product Applied for Id is a unique identifer for the product request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productId" type="xs:string" minOccurs ="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Product Id is a unique identifer for the reference data for the product that is being applied for.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productApplicationStatus" type="ApplicationStatus">
        <xs:annotation>
          <xs:documentation>
            Individual status within the application of the product itself.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productDetail" type="ProductDetail" minOccurs ="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Product detail is a structure pointing to fields based on the product type.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductDetail">
    <xs:annotation>
      <xs:documentation>
        Product detail is a structure pointing to fields based on the product type.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="loan" type="loan:Loan">
        <xs:annotation>
          <xs:documentation>
            Loan product (credit card, mortgage, auto, etc.) applied for details.
            Many of the fields won't apply since this is an application.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="deposit" type="deposit:Deposit">
        <xs:annotation>
          <xs:documentation>
            Deposit product applied for details.  Many of the fields won't apply
            since this is an application.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="ApplicationStatus">
    <xs:annotation>
      <xs:documentation>
        Status of the application to indicate how the application is progressing from a workflow standpoint.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base ="xs:string">
      <xs:enumeration value ="New">
        <xs:annotation>
          <xs:documentation>
            The application is new and has not been handled by internal teams or systems.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="PreApproved">
        <xs:annotation>
          <xs:documentation>
            Similar to New but the financial institution has proactively pre=approved the products for potential applicants but
            the applicants have not yet responded to the offer.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Assigned">
        <xs:annotation>
          <xs:documentation>
            The application has been allocated to a resource to get back to the applicants.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="InDiscussion">
        <xs:annotation>
          <xs:documentation>
            The internal resource has contacted the applicants and negotiating with the party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Approved">
        <xs:annotation>
          <xs:documentation>
            The financial institution has approved the application and waiting for commitment from the applicants.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Declined">
        <xs:annotation>
          <xs:documentation>
            The financial institution has declined the application.  If the changes are not made to the
            to the application, this application workflow is complete.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Converting">
        <xs:annotation>
          <xs:documentation>
            The applicants have accepted the conditions of the application and committed to the offer
            and the associated products are being booked into the back end systems.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Booked">
        <xs:annotation>
          <xs:documentation>
            The associated products are booked in the back end systems.
            The process is complete for the application.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Lost">
        <xs:annotation>
          <xs:documentation>
            The applicants have rejected the conditions of the application and are not interested
            in further proposals and the process is complete for the application.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ApplicationIdList">
    <xs:annotation>
      <xs:documentation>
        Collection of applicaton Id's used for filtering on read, update or delete application service
        requests.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationId" type="xs:string" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            Filter for the unique identifier for the application in the back end system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence >
  </xs:complexType >

</xs:schema>