CUFX/Schemas/BillPayeeFilter.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://cufxstandards.com/v3/BillPayeeFilter.xsd"
  version="3.0.$Revision$"
  xmlns="http://cufxstandards.com/v3/BillPayeeFilter.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:billPayee="http://cufxstandards.com/v3/BillPayee.xsd"
           
  elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v3/BillPayee.xsd" schemaLocation="BillPayee.xsd" />
  
  <xs:element name="billPayeeFilter" type="BillPayeeFilter">
    <xs:annotation>
      <xs:documentation>
        The list of filter options for services requesting billPayee data.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="BillPayeeFilter">
    <xs:annotation>
      <xs:documentation>
        The list of filter options for services requesting billPayee data. The options can be used in
        combination or by themselves. It is up to the data source to either return or affect the
        data requested or return a standard error identifying why the request was rejected.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="billPayeeList" type="billPayee:BillPayeeList" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The list of BillPayee ID's that should have their associated billPayees either returned or affected
            by a read, update or delete billPayee request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
