CUFX/Schemas/BillPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   targetNamespace="http://cufxstandards.com/v2/BillPayment.xsd"
	version="2.1.$Revision: 298 $"
  xmlns="http://cufxstandards.com/v2/BillPayment.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v2/Common.xsd"
  xmlns:party="http://cufxstandards.com/v2/Party.xsd"
  xmlns:billpayee="http://cufxstandards.com/v2/BillPayee.xsd"
  xmlns:account="http://cufxstandards.com/v2/Account.xsd"   
   
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/BillPayee.xsd" schemaLocation="BillPayee.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Account.xsd" schemaLocation="Account.xsd" />
  
  <xs:element name= "billPaymentList" type ="BillPaymentList">
    <xs:annotation>
      <xs:documentation>
        The bill payment collection/array contains all the bills for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="BillPaymentList">
    <xs:annotation>
      <xs:documentation>
        The bill payment collection/array contains all the bills for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="billPayment" type="BillPayment" minOccurs="0" maxOccurs="unbounded">
      </xs:element >
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BillPayment">
    <xs:sequence>

      <xs:element name="billPaymentId" type="BillPaymentId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            An id that uniquely identifies the bill payment.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="payeeId" type="billpayee:BillPayeeRelationshipId"   minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The Id of the payee.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="amount" type="common:Money"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Negative, Zero, or Positive amount.
            If this is the amount of the bill being paid.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="memo" type="xs:string" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The memo represents the memo of the transaction.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isElectronic" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            True for electronic processing, False for sending a paper check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="Status" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
           Status of the bill payment
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentFromAccountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The account the payment was taken from.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="estimatedDeliveryDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The estimated date time that the payment will be received by payee.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>      
      <xs:element name="createDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The date bill payment was created.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expectedDebitDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The expected debit date of bill payment.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="processingStartedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The date bill payment processing started.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The date bill payment was funded.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="completedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The processing date bill payment transaction is completed.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkClearedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The Date bill payment check cleared.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="isStopRequested" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            True if the payment has had a stop payment requested, False if a stop payment has not been requested.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkStoppedDate" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The Date bill payment was stopped.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nsfCount" type="xs:integer" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The number of times the bill payment has failed to process due to insuffient funds.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkNumber" type="xs:integer" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The number of bill payment check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="updatedDate" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The last date the bill payment was updated.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="billPayBatchId" type="xs:string" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            An identifier used to group a set of bills together for processing at the same time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isReccurring" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            True if the payment has recurring payments associated, False if the payment is a single payement.
          </xs:documentation>
        </xs:annotation>
      </xs:element>          

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="BillPaymentId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The Bill Payee D is a persistent and unique identifier for the BIll Payee.
          It must be unique for all users across the institution and remain the same over the life of the Bill Payee.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Status">
    <xs:annotation>
      <xs:documentation>
        This is enumeration of statuses for bill payment.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending">
        <xs:annotation>
          <xs:documentation>
           The bill payment is active, scheduled, and can be edited.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Processing">
        <xs:annotation>
          <xs:documentation>
           The bill payment is in process and is no longer cancellable.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CancelRequestedByMember">
        <xs:annotation>
          <xs:documentation>
            This value indicates the payee is inactive and invisible to member.
            This value indicates the payee can not be re-activated.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CancelledByMember">
        <xs:annotation>
          <xs:documentation>
            This value indicates the payee is inactive and invisible to member.
            This value indicates the payee can not be re-activated.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
