CUFX/Schemas/BillFilter.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://cufxstandards.com/v3/BillFilter.xsd"
  version="3.0.$Revision: 772 $"
  xmlns="http://cufxstandards.com/v3/BillFilter.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bill="http://cufxstandards.com/v3/Bill.xsd"
  xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
  xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  xmlns:party="http://cufxstandards.com/v3/Party.xsd"
  xmlns:billPayee="http://cufxstandards.com/v3/BillPayee.xsd"
           
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Bill.xsd" schemaLocation="Bill.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/BillPayee.xsd" schemaLocation="BillPayee.xsd" />

	<xs:element name="BillFilter" type="BillFilter">
		<xs:annotation>
			<xs:documentation>
				The list of filter options for services requesting Bill data.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="BillFilter">
		<xs:annotation>
			<xs:documentation>
				The list of filter options for services requesting Bill data. The options can be used in
				combination or by themselves. It is up to the data source to either return or affect the
				data requested or return a standard error identifying why the request was rejected.
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="BillList" type="bill:BillList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						All the bill data.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of party related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of relationship related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="accountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of account related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="billFromPayeeId" type="billPayee:BillPayeeId" minOccurs="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						An ID that uniquely identifies the bill payee for the consumer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>

	</xs:complexType>
</xs:schema>
