CUFX/Schemas/BillPaymentOccurence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   targetNamespace="http://cufxstandards.com/v3/BillPaymentOccurence.xsd"
	version="3.0.$Revision$"
  xmlns="http://cufxstandards.com/v3/BillPaymentOccurence.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"
  xmlns:party="http://cufxstandards.com/v3/Party.xsd"
  xmlns:billpayee="http://cufxstandards.com/v3/BillPayee.xsd"
  xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  xmlns:fundsTransferOccurrenceBase="http://cufxstandards.com/v3/FundsTransferOccurrenceBase.xsd"
  xmlns:bill="http://cufxstandards.com/v3/Bill.xsd"
   
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/BillPayee.xsd" schemaLocation="BillPayee.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/FundsTransferOccurrenceBase.xsd" schemaLocation="FundsTransferOccurrenceBase.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Bill.xsd" schemaLocation="Bill.xsd" />

	<xs:element name= "billPaymentOccurenceList" type ="BillPaymentOccurenceList">
		<xs:annotation>
			<xs:documentation>
				The bill payment collection/array contains all the bills, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="BillPaymentOccurenceList">
		<xs:annotation>
			<xs:documentation>
				The bill payment collection/array contains all the bills, for instance, that the credential set is
				authorized to access at the Institution based on applied filters
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billPaymentOccurence" type="BillPaymentOccurence" minOccurs="0" maxOccurs="unbounded">
			</xs:element >
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BillPaymentOccurence">
		<xs:complexContent>
			<xs:extension base="fundsTransferOccurrenceBase:FundsTransferOccurrenceBase" >
				<xs:sequence>
					<xs:element name="billPaymentOccurenceId" type="BillPaymentId" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								An ID that uniquely identifies the bill payment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="billPayeeId" type="billpayee:BillPayeeId"   minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The ID of the payee.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="bill" type="bill:BillId"   minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The ID of the bill that member is paying.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="fundsTransferOccurenceId" type="fundsTransferOccurrenceBase:OccurrenceId" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								An ID that uniquely identifies the bill payment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="billPaymentOccurrenceStatus" type="BillPaymentOccurrenceStatus" minOccurs ="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								This is the enumeration of statuses for bill payment occurrence.
								This extends the TransactionOccurrenceBase's OccurrenceStatus.
							</xs:documentation>
						</xs:annotation>

					</xs:element >
					<xs:element name="expectedDebitDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The expected debit date of bill payment.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processingStartedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The date that the bill payment processing started.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The date that the bill payment was funded.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="completedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The processing date that the bill payment transaction is completed.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkClearedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The date that the bill payment check cleared.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="isStopRequested" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								True if the payment has had a stop payment requested; false if a stop payment has not been requested.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkStoppedDate" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The date that the bill payment was stopped.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsfCount" type="xs:integer" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The number of times that the bill payment has failed to process due to insufficient funds.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkNumber" type="xs:integer" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The number of the bill payment check.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="updatedDate" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The last date that the bill payment was updated.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="billPayBatchId" type="xs:string" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								An identifier used to group a set of bills together to process them at the same time.
							</xs:documentation>
						</xs:annotation>
					</xs:element>


				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="BillPaymentId">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The bill payee ID is a persistent and unique identifier for the bill payee.
					It must be unique for all users across the institution and remain the same
					over the life of the bill payee.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

  <xs:complexType name="BillPaymentOccurenceIdList">
    <xs:annotation>
      <xs:documentation>
        The list of billpayment ID's that should have their associated bill payment either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="billPaymentOccurenceId" type="BillPaymentId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A bill payment ID that should have its associated bill payment either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

	<xs:simpleType name="BillPaymentOccurrenceStatus">
		<xs:annotation>
			<xs:documentation>
				This is the enumeration of statuses for bill payment occurrence.
				This extends the TransactionOccurrenceBase's OccurrenceStatus.
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="fundsTransferOccurrenceBase:OccurrenceStatus OccurrenceStatusExtension"/>
	</xs:simpleType>

	<xs:simpleType name="OccurrenceStatusExtension">
		<xs:annotation>
			<xs:documentation>
				A string value that must contain a "BillPayment:" prefix.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="BillPayment:\w+"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
