CUFX/Schemas/BillPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   targetNamespace="http://cufxstandards.com/v2/BillPayment.xsd"
	version="2.1.$Revision: 298 $"
  xmlns="http://cufxstandards.com/v2/BillPayment.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v2/Common.xsd"
  xmlns:party="http://cufxstandards.com/v2/Party.xsd"
  xmlns:billpayee="http://cufxstandards.com/v2/BillPayee.xsd"
  xmlns:account="http://cufxstandards.com/v2/Account.xsd"
  xmlns:transactionRequestBase="http://cufxstandards.com/v2/TransactionRequestBase.xsd"
   
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/BillPayee.xsd" schemaLocation="BillPayee.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Account.xsd" schemaLocation="Account.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/TransactionRequestBase.xsd" schemaLocation="TransactionRequestBase.xsd" />
  
  <xs:element name= "billPaymentList" type ="BillPaymentList">
    <xs:annotation>
      <xs:documentation>
        The bill payment collection/array contains all the bills for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="BillPaymentList">
    <xs:annotation>
      <xs:documentation>
        The bill payment collection/array contains all the bills for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="billPayment" type="BillPayment" minOccurs="0" maxOccurs="unbounded">
      </xs:element >
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BillPayment">
    <xs:sequence>

      <xs:element name="billPaymentId" type="BillPaymentId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            An id that uniquely identifies the bill payment.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="payeeId" type="billpayee:BillPayeeId"   minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The Id of the payee.
          </xs:documentation>
        </xs:annotation>
      </xs:element>      
  
 
      <xs:element name="expectedDebitDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The expected debit date of bill payment.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="processingStartedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The date bill payment processing started.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The date bill payment was funded.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="completedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The processing date bill payment transaction is completed.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkClearedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The Date bill payment check cleared.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="isStopRequested" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            True if the payment has had a stop payment requested, False if a stop payment has not been requested.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkStoppedDate" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The Date bill payment was stopped.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nsfCount" type="xs:integer" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The number of times the bill payment has failed to process due to insuffient funds.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkNumber" type="xs:integer" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The number of bill payment check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="updatedDate" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The last date the bill payment was updated.
            The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="billPayBatchId" type="xs:string" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            An identifier used to group a set of bills together for processing at the same time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isReccurring" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            True if the payment has recurring payments associated, False if the payment is a single payement.
          </xs:documentation>
        </xs:annotation>
      </xs:element>          

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="BillPaymentId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The Bill Payee D is a persistent and unique identifier for the BIll Payee.
          It must be unique for all users across the institution and remain the same over the life of the Bill Payee.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Status">
    <xs:annotation>
      <xs:documentation>
        This is enumeration of statuses for bill payment.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Scheduled">
        <xs:annotation>
          <xs:documentation>
           The payment is in process for immediate or future payment and is cancellable by the party since it's not InProcess yet.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InProcess">
        <xs:annotation>
          <xs:documentation>
           The bill payment is in process and is no longer cancellable but has not been sent.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CancelRequestedByParty">
        <xs:annotation>
          <xs:documentation>
            A bill payment was requested to be cancelled by the party but not yet cancelled.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
         <xs:enumeration value="CancelRequestedByFinancialInstitution">
        <xs:annotation>
          <xs:documentation>
            A bill payment has been cancelled at the request of the party's financial institution.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CancelRequestedByPaymentProvider">
        <xs:annotation>
          <xs:documentation>
            A bill payment has been cancelled at the request of the party's financial institution.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
     <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:documentation>
            A bill payment has been cancelled.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cleared">
        <xs:annotation>
          <xs:documentation>
            The payment has cleared the financial institutions account.  The transaction is finished/complete.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined">
        <xs:annotation>
          <xs:documentation>
            The payment was declined (for instance in the case that a debit or card was used as the funding source).
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FundsOutbound">
        <xs:annotation>
          <xs:documentation>
            The funds have been transferred to the payment provider but have not arrived at the payment provider yet.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FundsCleared">
        <xs:annotation>
          <xs:documentation>
             The funds for the payment have been received by the payment provider but the actual payment hasn't
             cleared at the payee.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Held">
        <xs:annotation>
          <xs:documentation>
            The payment has been held by the payment provider and not sent to the payee.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsufficientFunds">
        <xs:annotation>
          <xs:documentation>
            The payment has attempted to clear the financial institution account but there was not enought funds available.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sent">
        <xs:annotation>
          <xs:documentation>
            Payment has been sent to the payee but has not been received yet.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Returned">
        <xs:annotation>
          <xs:documentation>
            Payment was returned by the payee and not cleared.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Suspended">
        <xs:annotation>
          <xs:documentation>
            Payment was scheduled for recurring payment but has been has been suspended until taken out of suspend status.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
     </xs:restriction>
  </xs:simpleType>

</xs:schema>
