CUFX/Schemas/BillFilter.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://cufxstandards.com/v3/BillFilter.xsd"
  version="3.0.$Revision: 772 $"
  xmlns="http://cufxstandards.com/v3/BillFilter.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bill="http://cufxstandards.com/v3/Bill.xsd"
  xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
  xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  xmlns:party="http://cufxstandards.com/v3/Party.xsd"
  xmlns:billPayee="http://cufxstandards.com/v3/BillPayee.xsd"
           
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Bill.xsd" schemaLocation="Bill.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/BillPayee.xsd" schemaLocation="BillPayee.xsd" />

	<xs:element name="billFilter" type="BillFilter">
		<xs:annotation>
			<xs:documentation>
				The list of filter options for services requesting Bill data.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="BillFilter">
		<xs:annotation>
			<xs:documentation>
				The list of filter options for services requesting Bill data. The options can be used in
				combination or by themselves. It is up to the data source to either return or affect the
				data requested or return a standard error identifying why the request was rejected.
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="billIdList" type="bill:BillIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of bill Id's that should have their associated bills either returned
						or affected by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of party related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of relationship related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="accountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of account related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="billFromPayeeId" type="billPayee:BillPayeeId" minOccurs="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						An ID that uniquely identifies the bill payee for the consumer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billSentStartDateTime" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Filter that is used to start searching the UTC sent date of the bill.
						Start and End Date filters work together.
						Must be less than or equal to end date if an end date is supplied.
						Should be less to or equal to today’s date.
						If neither transactionStartDate or transactionEndDate is provided,
						NO transaction history data will be returned.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="billSentEndDateTime" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Filter that is used to end searching the UTC sent date of the bill.
						Start and End date filter work together.
						Must be greater than or equal to start date/time.
						If it's not supplied, response returns all of the transactions on or after the transactionStartDate.
						If neither transactionStartDate or transactionEndDate is provided,
						no transaction history data will be returned.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>
</xs:schema>
