CUFX/Schemas/BillPaymentFilter.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://cufxstandards.com/v3/BillPaymentFilter.xsd"
xmlns="http://cufxstandards.com/v3/BillPaymentFilter.xsd"
version="3.0.$Revision$"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:fundsTransferFilterBase="http://cufxstandards.com/v3/FundsTransferFilterBase.xsd"
xmlns:billPayee="http://cufxstandards.com/v3/BillPayee.xsd"
xmlns:billPaymentOccurence="http://cufxstandards.com/v3/BillPaymentOccurence.xsd"
xmlns:billPaymentRecurring="http://cufxstandards.com/v3/BillPaymentRecurring.xsd"
           
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v3/FundsTransferFilterBase.xsd" schemaLocation="FundsTransferFilterBase.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/BillPayee.xsd" schemaLocation="BillPayee.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/BillPaymentOccurence.xsd" schemaLocation="BillPaymentOccurence.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/BillPaymentRecurring.xsd" schemaLocation="BillPaymentRecurring.xsd" />

	
	<xs:element name="billPaymentFilter" type="BillPaymentFilter">
    <xs:annotation>
      <xs:documentation>
        The list of filter options for services requesting bill payment data.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="BillPaymentFilter" >
    <xs:complexContent>
      <xs:annotation>
        <xs:documentation>
          The list of filter options for services requesting bill payment data.
        </xs:documentation>
      </xs:annotation>
		<xs:extension base="fundsTransferFilterBase:FundsTransferFilterBase">
			<xs:sequence>
				<xs:element name="billFromPayeeID" type="billPayee:BillPayeeId" minOccurs="0" maxOccurs ="1">
					<xs:annotation>
						<xs:documentation>
							An ID that uniquely identifies the bill payee for the consumer.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
        <xs:element name="billPaymentOccurenceIdList" type="billPaymentOccurence:BillPaymentOccurenceIdList" minOccurs ="0" maxOccurs ="1">
          <xs:annotation>
            <xs:documentation>
              The list of BillPayee ID's that should have their associated billPayees either returned or affected
              by a read, update or delete billPayee request.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="billPaymentRecurringIdList" type="billPaymentRecurring:BillPaymentRecurringIdList" minOccurs ="0" maxOccurs ="1">
          <xs:annotation>
            <xs:documentation>
              The list of BillPayee ID's that should have their associated billPayees either returned or affected
              by a read, update or delete billPayee request.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
			</xs:sequence>
		</xs:extension>
		
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
