CUFX/Schemas/Collateral.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v2/Collateral.xsd"
	version="2.0.$Revision$"
	xmlns="http://cufxstandards.com/v2/Collateral.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v2/Common.xsd"
	xmlns:account="http://cufxstandards.com/v2/Account.xsd"
	xmlns:credit="http://cufxstandards.com/v2/CreditReport.xsd"
	xmlns:relationship="http://cufxstandards.com/v2/Relationship.xsd"
	xmlns:contact="http://cufxstandards.com/v2/Contact.xsd"
	xmlns:party="http://cufxstandards.com/v2/Party.xsd"
 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v2/Account.xsd" schemaLocation="Account.xsd" />
	<xs:import namespace="http://cufxstandards.com/v2/CreditReport.xsd" schemaLocation="CreditReport.xsd" />
	<xs:import namespace="http://cufxstandards.com/v2/Relationship.xsd" schemaLocation="Relationship.xsd" />
	<xs:import namespace="http://cufxstandards.com/v2/Contact.xsd" schemaLocation="Contact.xsd" />
	<xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />

	
	<xs:complexType name="CollateralList">
		<xs:annotation>
			<xs:documentation>
				Details related to specific collateral for the loan
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="collateral" type="CollateralId" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CollateralId">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The collateral ID is a persistent and unique identifier for the collateral item.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="BaseCollateral" abstract="true">
		<xs:annotation>
			<xs:documentation>
				Details related to collateral record
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
      <xs:element name="collateralId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique Id for the collateral in the back end system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
			<xs:element name="collateralCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						FI defined, used to describe the collateral for a secured loan (i.e. vehicle, boat, shares)
						(will be conditional for Secured Loans)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collateralPledgedDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Date that the collateral is pledged for a loan
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Description of the type of collateral/security
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="securedCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Code describing how the loan is secured (100%, partial release, etc)
						for loan secured by savings, certificates, or stock
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalSecuredAmount" type="common:Money" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Total Amount pledged;
						Systems will usually default this based on the secured code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valuationOfCollateral" type="common:Money" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Value of Collateral (savings, CD, Auto, Motorcycle, Boat, RV etc);
						The determined actual value of the collateral item;
						Example: certificate is actual value, vehicle is more a determined value
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownerOfCollateral" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Name of Owner of Collateral
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loanToValuePercentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Loan to value percentage;
						Calculation of the collateral value to the original loan amount
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collateralValueSourceDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The date the estimated value was obtained from the collateral value source
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collateralValueSource" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The source used to value the collateral
						Examples: kelly blue book, NADA - National Automobile Dealers Association, appraisal, etc
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Titled Collateral Types (i.e. ownership is evidenced by a Title. -->
	<xs:complexType name="BaseTitledCollateral" >
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Contains Details about collateral titled collateral types (i.e ownership is evidenced by a Title)
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseCollateral">
				<xs:sequence>
					<xs:element name="year" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The year of the titled collateral
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="manufacturer" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The manufacturer of the titled collateral
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="make" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The titled collateral make
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="model" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The titled collateral model
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The color of the titled collateral
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="purchasePrice" type="common:Money" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								MSRP or Purchase Price
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isVehicleUsed" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Whether the titled collateral is used or new
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uccCode" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Code used to register boats, RVs etc;
								Vehicles that don't have a title value... some states use UCC instead of
								titles all together
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MotorVehicleCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to vehicle collateral
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="vehicleIdentificationNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Vehicle Identification number (VIN)
								Conditional - required for vehicle loans
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mileage" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The mileage of the vehicle
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="licensePlateNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								License Plate number
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="licensePlateState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								License Plate State
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="licensePlateExpiration" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Expiration Date for license plate;
								So registration expiration date for the vehicle
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="titleNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Collateral Title Number
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="titleState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Title State
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AircraftCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to aircraft collateral.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="faaRegistrationNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="inspectionReportYN" type="xs:boolean" minOccurs="0"/>
					<xs:element name="faaCoverLetterYN" type="xs:boolean" minOccurs="0"/>
					<xs:element name="aircraftForCommercialUse" type="xs:boolean" minOccurs="0"/>
					<xs:element name="descAvionicsEngines" type="xs:string" minOccurs="0"/>
					<xs:element name="descOfLogBooks" type="xs:string" minOccurs="0"/>
					<xs:element name="airportHomeBase" type="xs:string" minOccurs="0"/>
					<xs:element name="hours" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The number of hours on the aircraft
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ShipCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to ship collateral.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="nameOfVessel" type="xs:string"  minOccurs="0"/>
					<xs:element name="officialNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="marinaPort" type="xs:string" minOccurs="0"/>
					<xs:element name="grossTonnage" type="xs:string" minOccurs="0"/>
					<xs:element name="netTonnage" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TrailerCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to trailer collateral.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BoatCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to pleasure boat collateral.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="bodyStyle" type="xs:string" minOccurs="0"/>
					<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="marinaPort" type="xs:string"  minOccurs="0"/>
					<xs:element name="descOfEnginesEquip" type="xs:string"  minOccurs="0"/>
					<xs:element name="descOfLogBooks" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OtherTitledCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to trailer collateral.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="bodyStyle" type="xs:string" minOccurs="0"/>
					<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MobileHomeCollateral">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Details related to trailer collateral.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseTitledCollateral">
				<xs:sequence>
					<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="bodyStyle" type="xs:string" minOccurs="0"/>
					<xs:element name="descOfEnginesEquip" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RealEstateCollateral" >
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Contains Details about Real Estate collateral types.  Examples are: 1-4 Family; Multi-Family; Commerical; Land
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseCollateral">
				<xs:sequence>
					<xs:element name="taxID" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="parcelIDNNumber" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="section" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="block" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="lot" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="firstLien" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="existingLiens" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="dwelling" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="numberOfUnits" type="xs:float" nillable="true" minOccurs="0"/>
					<xs:element name="ownerOccupied" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="principalDwelling" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="assumable" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="manufacturedHousing" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="construction" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="yearBuilt" type="xs:float" nillable="true" minOccurs="0"/>
					<xs:element name="condoPUD" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="legalDescription" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="rentalProperty" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="hazardInsuranceCoverage" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="yearAcquired" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="originalCost" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="presentValue" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="improvements" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="timeshare" type="xs:boolean" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UCCCollateral" >
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Contains Details about UCC  collateral types (ownership evidence by UCC filings).  Examples are: Inventory; Equipment; Fixtures; Livestock; Crops; Standing Timber; Minerals, Oil and Gas
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseCollateral">
				<xs:sequence>
					<xs:element name="financingStatement" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="generalDescription" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="tortClaimDescription" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="immovableDescription" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BasePossessoryCollateral" abstract="true" >
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Contains Details about possessory collateral types. Examples are: Deposit Accounts/CD; Securities; Notes; Receipts/Bills; Letters of Credit; Other
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="BaseCollateral">
				<xs:sequence>
					<xs:element name="securityCollateralValueLimit" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="securityMarketValueLimit" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SavingsCDCollateral">
		<xs:complexContent>
			<xs:extension base="BasePossessoryCollateral">
				<xs:sequence>
					<xs:element name="faceValue" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="issuerType" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="certified" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="noteToIssuingInst" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="possessoryNumber" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="possessoryInterestRate" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="controlAgreement" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The account number providing security for the loan
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="amount" type="common:Money" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Amount pledged;
								Systems will usually default this based on the secured code
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="percentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Percentage of the loan pledged;
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SecuritiesCollateral">
		<xs:complexContent>
			<xs:extension base="BasePossessoryCollateral">
				<xs:sequence>
					<xs:element name="faceValue" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="issuer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="numberOfShares" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="cusipNumber" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="heldBy" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="bookEntry" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="numberOfStockPowerForms" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="marginStock" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="noteToThirdParty" type="xs:boolean" nillable="true" minOccurs="0"/>
					<xs:element name="valuationFrequency" type="ValuationFrequency" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LetterOfCreditCollateral">
		<xs:complexContent>
			<xs:extension base="BasePossessoryCollateral">
				<xs:sequence>
					<xs:element name="possessoryNumber" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="issueDate" type="xs:date" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="ValuationFrequency">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Weekly"/>
			<xs:enumeration value="BiWeekly"/>
			<xs:enumeration value="Monthly"/>
			<xs:enumeration value="BiMonthly"/>
			<xs:enumeration value="Quarterly"/>
			<xs:enumeration value="SemiAnnually"/>
			<xs:enumeration value="Annually"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
