CUFX/Schemas/ConfigurationFilter.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://cufxstandards.com/v4/ConfigurationFilter.xsd"
	xmlns="http://cufxstandards.com/v4/ConfigurationFilter.xsd"
	version="4.3.$Revision$"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"

	xmlns:common="http://cufxstandards.com/v4/Common.xsd"
	xmlns:configuration="http://cufxstandards.com/v4/Configuration.xsd"
	xmlns:app="http://cufxstandards.com/v4/App.xsd"
	xmlns:networkNode="http://cufxstandards.com/v4/NetworkNode.xsd"
	xmlns:financialInstitution="http://cufxstandards.com/v4/FinancialInstitution.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v4/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/Configuration.xsd" schemaLocation="Configuration.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/App.xsd" schemaLocation="App.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/NetworkNode.xsd" schemaLocation="NetworkNode.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/FinancialInstitution.xsd" schemaLocation="FinancialInstitution.xsd" />

	<xs:element name="configurationFilter" type="ConfigurationFilter">
		<xs:annotation>
			<xs:documentation>
				The list of filter options for services requesting configuration data.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ConfigurationFilter">
		<xs:annotation>
			<xs:documentation>
				The list of filter options for configuration data.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="configurationIdList" type="configuration:ConfigurationIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of configuration ID's that should have their associated configurations either returned
						or affected by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationNameList" type="configuration:ConfigurationNameList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of configuration names that should have their associated configurations either returned
						or affected by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="environmentList" type="common:EnvironmentList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of configuration environment(s) that should have their associated configurations either returned
						or affected by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationStatusList" type="configuration:ConfigurationStatusList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of configuration statuses that should have their associated configurations either returned
						or affected by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationCreatedDateRange" type="common:DateRange" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Filter that is used to search the configuration create dates.
						Usage see common.xsd DateRange.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationCreatedByList" type="configuration:ConfigurationCreatedByList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Filter that is used to search who may have created the configurations.
						Usage see common.xsd DateRange.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationUpdatedDateRange" type="common:DateRange" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Filter that is used to search the configuration updated dates.
						Usage see common.xsd DateRange.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationLastUpdatedByList" type="configuration:ConfigurationLastUpdatedByList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Filter that is used to search who may have last updated the configurations.
						Usage see common.xsd DateRange.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="fiIdList" type="financialInstitution:FinancialInstitutionIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The valid financial institution list for this instance.
						Identifies that these configuration parameters are related to these financial institutions.
						The list of fi ids that should have their associated configurations should be returned or
						affected by a read or update request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationFiIdList" type="configuration:ConfigurationFinancialInstitutionIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of Configuration FI ID's that should have their associated configurations either returned or affected
						by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationFiVendorIdList" type="configuration:ConfigurationFinancialInstitutionVendorIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid unique identifications of configuration and Vendor that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="vendorIdList" type="common:VendorIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of vendor ids associated to a financial institution that should have their associated configurations either returned or
						affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="serviceList" type="configuration:ServiceList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of services that should be returned or affected by a read or update request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="methodIdList" type="configuration:MethodIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of Method ID's that should have their associated configurations either returned or affected
						by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="methodDependencyIdList" type="configuration:MethodDependencyIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of method dependency ID's that should have their associated configurations either returned or affected
						by a read, update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationAppIdList" type="configuration:ConfigurationAppIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid configuration app Id's associated to the configuration that should either be returned or affected by a read,
						update or delete configuration request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="appIdList" type="app:AppIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid system level app Id's associated to the configuration that should either be returned or affected by a read,
						update or delete configuration request.
						This will return back any that match at the configuration level or the financial instiution level.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationAppParameterIdList" type="configuration:ConfigurationAppParameterIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid unique identifications of configuration app parameter Id's that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="appParameterIdList" type="app:AppParameterIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid system level app parameter ID's associated to the configuration that should have their associated
						configurations either returned or affected by a read, update or delete account request.
						This will return back any that match at the configuration level or the financial instiution level.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="parameterNameList" type="app:ParameterNameList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of app parameter names that should have their associated configuration records returned
						or affected by a read, update or delete app request.
						This will return back any that match at the configuration level or the financial instiution level.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationFiAppIdList" type="configuration:ConfigurationFinancialInstitutionAppIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid unique identifications of configuration, financial institution and app that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationFiAppParameterIdList" type="configuration:ConfigurationFinancialInstitutionAppParameterIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid unique identifications of configuration, financial institution and app that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationNetworkNodeAddressIdList" type="configuration:ConfigurationNetworkNodeAddressIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid configuration network node address Id's in the configuration that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="networkNodeAddressIdList" type="networkNode:NetworkNodeIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid system level network node addresses in the configuration that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="networkNodeIdList" type="networkNode:NetworkNodeIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of valid system level network nodes in the configuration that should have their associated
						configurations either returned or affected by a read, update or delete account request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:schema>

