CUFX/Schemas/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 	targetNamespace="http://cufxstandards.com/v4/Configuration.xsd"
	version="4.1.$Revision$"
	xmlns="http://cufxstandards.com/v4/Configuration.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:app="http://cufxstandards.com/v4/App.xsd"
	xmlns:common="http://cufxstandards.com/v4/Common.xsd"
	xmlns:isoCurrencyCodeType="http://cufxstandards.com/v4/ISOCurrencyCodeType.xsd"
	xmlns:party="http://cufxstandards.com/v4/Party.xsd"
	xmlns:networkNode="http://cufxstandards.com/v4/NetworkNode.xsd"
            
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v4/App.xsd" schemaLocation="App.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/ISOCurrencyCodeType.xsd" schemaLocation="ISOCurrencyCodeType.xsd" />
	<xs:import namespace="http://cufxstandards.com/v4/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v4/NetworkNode.xsd" schemaLocation="NetworkNode.xsd" />

  <xs:element name="configurationList" type="ConfigurationList">
		<xs:annotation>
			<xs:documentation>
				The list of configurations available in the CUFX instance.
				There will be one configuration for one or more financial institutions.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ConfigurationList">
		<xs:annotation>
			<xs:documentation>
				The list of configurations available in the CUFX instance.
				There will be one configuration for one or more financial institutions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="configuration" type="Configuration" minOccurs ="0" maxOccurs ="unbounded">
						<xs:annotation>
							<xs:documentation>
								The list of supported services, methods, limitations and options within the CUFX instance.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Configuration">
		<xs:sequence>
			<xs:element name="configurationId" type="ConfigurationId" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						unique identification for the configuration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="configurationDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Description of the configuration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="environment" type="common:Environment" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Indicates the environmental status of the configuration. If not specified, "Production" is assumed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fiIdList" type="FinancialInstitutionIdList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The valid financial institution ID list for this instance.
						Identifies that these configuration parameters are related to these financial institutions.
						The FI ID is the "key" in the CUFX data model for identifying the FI for all services.
						The FI ID will be passed in the message context to filter the request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fiList" type="FinancialInstitutionList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of Financial institution within this configuration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endPointTimeZoneUTOffset" type="xs:integer"  minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This element is depricated. Use serviceTimeZoneUTCOffset for all new use.
						The offset of the time zone from Universal Time where this service resides.  If the service
						provides a serviceTimeZoneUTOffset, it overrides this value for that service.
						For example,
						Atlantic Standard Time (AST) =  UT - 4 hours  (serviceTimeZoneUTOffset would be -4)
						Eastern Standard Time (EST)  =  UT - 5 hours
						Central Standard Time (CST)  =  UT - 6 hours
						Mountain Standard Time (MST) =  UT - 7 hours
						Pacific Standard Time (PST)  =  UT - 8 hours
						If the location observes daylight savings time, this value may need to be updated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceTimeZoneUTCOffset" type="ServiceTimeZoneUTCOffset" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The offset of the time zone from Universal Time where this service resides.  If the service
						provides a serviceTimeZoneUTOffset, it overrides this value for that service.
						For example
						Format : [+|-]HH:MM
						If the location observes daylight savings time, this value may need to be updated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceList" type="ServiceList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of supported services and methods within the CUFX instance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="configurationAppList" type="ConfigurationAppList" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The list of supported Apps in this configuration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="configurationNetworkNodeAddressList" type="ConfigurationNetworkNodeAddressList" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The list of network node are in or comprise this configuration.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Configuration level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ConfigurationId">
		<xs:annotation>
			<xs:documentation>
				unique identification for the configuration.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>

  <xs:simpleType name="ServiceTimeZoneUTCOffset">
		<xs:annotation>
			<xs:documentation>
				The offset of the time zone from Universal Time where this service resides.  If the service
				provides a serviceTimeZoneUTOffset, it overrides this value for that service.
				For example
				Format : [+|-]HH:MM
				If the location observes daylight savings time, this value may need to be updated.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="([\-\+])(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="FinancialInstitutionIdList">
		<xs:annotation>
			<xs:documentation>
				The valid financial institution list for this instance.
				Identifies that these configuration parameters are related to these financial institutions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="fiId" type="common:FinancialInstitutionId" minOccurs ="0" maxOccurs ="unbounded">
						<xs:annotation>
							<xs:documentation>
								A valid financial institution for this instance.
								Identifies that these configuration parameters are related to this financial institution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="ConfigurationAppList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationApp" type="ConfigurationApp" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                An app as it's installed in the configuration.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationApp">
    <xs:annotation>
      <xs:documentation>
        Definition for the app in the configuration and its parameters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configurationAppId" type="ConfigurationAppId" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the combination of configuration and application
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="app" type="app:App" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The details of the system level app within the configuration.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="configurationAppParameterList" type="ConfigurationAppParameterList" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The parameters as they are set up at the configuration level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Configuration App level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConfigurationAppId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration and App combination.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ConfigurationAppIdList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationAppId" type="ConfigurationAppId" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                An app as it's installed in the configuration.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationAppParameterList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationAppParameter" type="ConfigurationAppParameter" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                An app as it's installed in the configuration.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationAppParameter">
    <xs:annotation>
      <xs:documentation>
        Definition for the app parameters within the configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configurationAppParameterId" type="ConfigurationAppParameterId" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the combination of configuration, application and Parameter.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="appParameter" type="app:AppParameter" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The App Parameter as set up at the system level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="currentValue" type="app:CurrentValue" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The current value of the parameter as they are set up at the configuration level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Configuration App Parameter level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConfigurationAppParameterId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration, app and parameter combination.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ConfigurationAppParameterIdList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationAppParameterId" type="ConfigurationAppParameterId" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                An app as it's installed in the configuration.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 
	<xs:complexType name="FinancialInstitutionList">
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="financialInstitution" type="FinancialInstitution" minOccurs ="0" maxOccurs ="unbounded">
						<xs:annotation>
							<xs:documentation>
								List of financial institution within this configuration.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FinancialInstitution">
		<xs:annotation>
			<xs:documentation>
				Definition for the configuration parameters for the financial institution.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="configurationFiId" type="ConfigurationFinancialInstitutionId" minOccurs ="0" maxOccurs ="unbounded">
				<xs:annotation>
					<xs:documentation>
						The unique identifier for the configuration and financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fiId" type="common:FinancialInstitutionId" minOccurs ="0" maxOccurs ="unbounded">
				<xs:annotation>
					<xs:documentation>
						The FIID  is used by systems to uniquely identify each financial institution.
						This ID is determined outside of the process and stored in each system of record, e.g. local application
						database, vendor configuration file, FI core database, etc.
						This is helpful for applications that are multi-tenant and service more than one financial institution.
						See dataSourceId for more information about multiple data sources for a single FI.
						A standard error will be returned if the FIID is not provided when it is required.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The financial institution's party ID is a persistent and unique identifier for the party that is not related to the accounts
						they own, but tied to that person or business. It should be unique for all parties across the
						institution and remain the same over the life of the relationship with the financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="configurationFiVendorList" type="ConfigurationFinancialInstitutionVendorList" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The list of of configuration and Vendor for the financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="configurationFiAppList" type="ConfigurationFinancialInstitutionAppList" minOccurs ="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of applications within this configuration for the financial institution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
			<xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Financial institution level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

  <xs:simpleType name="ConfigurationFinancialInstitutionId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration and financial institution.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ConfigurationFinancialInstitutionIdList">
		<xs:annotation>
			<xs:documentation>
				The list of Configuration Fi ID's that should have their associated configurations either returned or affected
				by a read, update or delete configuration request.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="configurationFiId" type="ConfigurationFinancialInstitutionId" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								The unique identifier for the configuration and financial institution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="ConfigurationFinancialInstitutionVendorList">
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="configurationFiVendor" type="ConfigurationFinancialInstitutionVendor" minOccurs ="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The list of valid unique identifications of configuration and Vendor for the financial institution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ConfigurationFinancialInstitutionVendor">
		<xs:sequence>
			<xs:element name="configurationFiVendorId" type="ConfigurationFinancialInstitutionVendorId" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						unique identification for the configuration, financial institution and Vendor.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="vendorId" type="common:VendorId" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The vendor ID is a unique identifier which identifies the vendor that is creating a message. The vendor ID is
						assigned by the financial institution or established in concert by the vendor and financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The vendor's party ID is a persistent and unique identifier for the party that is not related to the accounts
						they own, but tied to that person or business. It should be unique for all parties across the
						institution and remain the same over the life of the relationship with the financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Configuration Fi Vendor level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

  <xs:simpleType name="ConfigurationFinancialInstitutionVendorId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration and financial institution and vendor.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="ConfigurationFinancialInstitutionVendorIdList">
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="configurationFiVendorId" type="ConfigurationFinancialInstitutionVendorId" minOccurs ="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								unique identification for the configuration, financial institution and Vendor.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="ConfigurationFinancialInstitutionAppList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationFiApp" type="ConfigurationFinancialInstitutionApp" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                An app as it's installed in the configuration.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationFinancialInstitutionApp">
    <xs:annotation>
      <xs:documentation>
        Definition for the app in the configuration and its parameters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configurationFiAppId" type="ConfigurationFinancialInstitutionAppId" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the combination of configuration, financial institution and application
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="appId" type="app:AppId" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the app at the sytstem level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="configurationFiAppParameterList" type="ConfigurationFinancialInstitutionAppParameterList" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The parameters as they are set up at the configuration level and financial institution combination.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Configuration Financial Institution App level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConfigurationFinancialInstitutionAppId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration, financial institution, app and parameter combination.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ConfigurationFinancialInstitutionAppIdList">
    <xs:annotation>
      <xs:documentation>
        The list of Configuration Fi App ID's that should have their associated configurations either returned or affected
        by a read, update or delete configuration request.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationFiAppId" type="ConfigurationFinancialInstitutionAppId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                The unique identifier for the configuration, financial institution and App.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationFinancialInstitutionAppParameterList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationFiAppParameter" type="ConfigurationFinancialInstitutionAppParameter" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                An app as it's installed in the configuration and financial institution combination.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationFinancialInstitutionAppParameter">
    <xs:annotation>
      <xs:documentation>
        Definition for the app parameters within the configuration and financial institution.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configurationFiAppParameterId" type="ConfigurationFinancialInstitutionAppParameterId" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the combination of configuration, application and Parameter.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="appParameterId" type="app:AppParameterId" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the app parameter at the sytstem level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="currentValue" type="app:CurrentValue" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The current value of the app parameter as set up at the configuration and financial institution level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Configuration App Parameter level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConfigurationFinancialInstitutionAppParameterId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration, financial institution, app and parameter combination.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ConfigurationFinancialInstitutionAppParameterIdList">
    <xs:annotation>
      <xs:documentation>
        The list of Configuration Fi App Parameter ID's that should have their associated configurations either returned or affected
        by a read, update or delete configuration request.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationFiAppParameterId" type="ConfigurationFinancialInstitutionAppParameterId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                The unique identifier for the configuration, financial institution and App.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ServiceList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="service" type="Service" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                A service and list of methods within the CUFX instance that are supported by this end point.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="Service">
		<xs:sequence>
			<xs:element name="serviceId" type="xs:string" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Unique identification for the combination of Service name, Protocol, and cufxVersion by configuration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="serviceName" type="ServiceName" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Generic name for the service. (Key value)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="protocol" type="Protocol" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Technology web service protocol available. (Key value)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="cufxVersion" type="common:CufxVersion" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The version for the service. (Key value)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="wsdlUri" type="xs:anyURI" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						If the protocol is SOAP 1.1 or 1.2 provide the WSDL URL.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="currencySupportList" type="CurrencySupportList" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Valid values for currency.  If zero currencies are listed then USD is the only supported currency.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="acceptLanguageList" type="AcceptLanguageList" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specifies which language(s) can be received by the end point. This instructs it to
						generate its response data and return its data and errors in the accepted language(s).
						If none are specified then the default is US English (en-us).
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="fieldNotSupportedList" type="FieldNotSupportedList" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						List of fields not supported in the service.  Do not include customData fields, which are assumed
						to be unused unless listed in the customDataUseList in the Configuration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="serviceTimeZoneUTCOffset" type="ServiceTimeZoneUTCOffset"  minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The offset of the time zone from Universal Time where this service resides.  If the service
						provides a serviceTimeZoneUTCOffset, it overrides this value for the configuration.
						For example
						Format : [+|-]HH:MM
						If the location observes daylight savings time, this value may need to be updated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="SystemStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The status allows the requesting system to determine if the requested
						system is available for subsequent requests. A recommended use includes this service upon
						initial interaction as well as during exception handling. During a sequence of calls, an
						exception may be generated because the requested system has become unavailable.
						"Online" implies the system is available for subsequent requests.
						"Offline" implies the system is not available for subsequent requests.
						"MemoPost" implies that a subset of features is available. For example, the host system
						may be in MemoPost mode and accept transactions that are processed at a later time. Examples
						of such features are: intra-CU transfers and stop pay. Examples of features that may not be
						available during MemoPost are: loan application and change security settings. These examples
						are provided for demonstration purposes only, the exact feature list will vary depending on
						each implementation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customDataUseList" type="CustomDataUseList"  minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						List of XSD paths and comments related to how the custom data sections are being used.
						This is information only and not processed by the system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="methodList" type="MethodList" minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Methods such as create, read, update and delete available in the service.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Service level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MethodList">
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="method" type="Method" minOccurs ="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Method such as create, read, update or delete available in the service.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Method">
		<xs:sequence>
			<xs:element name="methodId" type="MethodId">
				<xs:annotation>
					<xs:documentation>
						Unique id for the method.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="methodName" type="MethodName">
				<xs:annotation>
					<xs:documentation>
						Generic name for the method.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uri"  type="xs:anyURI"  minOccurs ="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The base URI for the method.  For example: POST https://api.dataprovider.com/deposit?subMethod=GET
						This could also be a relative URI. For example: POST https://../deposit?subMethod=GET
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="methodDependencyList" type="MethodDependencyList" minOccurs ="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						The methods that must be executed first before this method can be executed.
						This allows for orchestration differences amongst different implementations of back end endpoints.
						For example: Does the party need to be created first or after the account is created?
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Method level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MethodDependencyList">
		<xs:annotation>
			<xs:documentation>
				The methods that must be executed first before this method can be executed.
				This allows for orchestration differences amongst different implementations of back end endpoints.
				For example: Does the party need to be created first or after the account is created?
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="methodDependency" type="MethodDependency" minOccurs ="0" maxOccurs="1" >
						<xs:annotation>
							<xs:documentation>
								The method that must be executed before another method.
								This allows for orchestration differences amongst different implementations of back end endpoints.
								For example: Does the party need to be created first or after the account is created?
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MethodDependency">
		<xs:sequence>
			<xs:element name="methodDependencyId" type="MethodDependencyId" minOccurs ="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						Unique method dependency identifier
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceName" type="ServiceName" minOccurs ="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						The service name of the method that must be executed first.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="methodName" type="xs:string" minOccurs ="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						The method name of the method that must be executed first.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cufxVersion" type="common:CufxVersion" minOccurs ="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The CUFX version of the method that must be executed first.  The CUFX version is part of the key
						value since there may be implementation differences between different versions of the same
						service/method.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Method dependency level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Protocol">
		<xs:restriction base="xs:string">
			<xs:enumeration value ="REST-XML"></xs:enumeration>
			<xs:enumeration value ="REST-JSON"></xs:enumeration>
			<xs:enumeration value ="SOAP1.1"></xs:enumeration>
			<xs:enumeration value ="SOAP1.2"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CurrencySupportList">
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="currencySupport" type="isoCurrencyCodeType:ISOCurrencyCodeType" minOccurs ="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Currency supported by the service.  If none were supplied, then USD is the only valid currency.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AcceptLanguageList">
		<xs:annotation>
			<xs:documentation>
				Specifies which language(s) can be received by the end point. This instructs it
				to generate its response data and return its data and errors in the accepted language(s).
				If none are specified then the default is US English (en-us).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="acceptLanguage" type="xs:string" minOccurs ="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Specifies a valid language-region which can be received by the end point, which instructs it
								to generate its response data and return its data and errors in the accepted language(s).
								Combination of a language and a region.  For example en-us.
								http://www.iana.org/assignments/language-subtag-registry
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FieldNotSupportedList">
		<xs:annotation>
			<xs:documentation>
				List of fields not supported in the service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="fieldNotSupported" type="FieldNotSupported" minOccurs ="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Describe which fields are not supported by specifying the XSD path and any comments as to why it isn't supported.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FieldNotSupported">
		<xs:annotation>
			<xs:documentation>
				Field not supported by the end point.  Specify the XSD path and any comments as to why it isn't supported.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsdFile" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						An XSD file name in the CUFX library that is the parent of the field that is not supported.
						For example: Party.xsd
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsdXPath" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						An XPath statement that identifies the XSD elements related of the field that is not supported.
						For example:
						/partyList/party/characteristics/individual/citizenshipList/*
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Comment as to why the field(s) is/are not supported.
						For example: This end point does not support citizenship as the back end core does not support this concept.
					</xs:documentation>
				</xs:annotation>
      </xs:element>
      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Configuration Field Not Supported level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomDataUseList">
		<xs:annotation>
			<xs:documentation>
				List of XSD paths and comments related to how the custom data sections are being used.
				This is information only and not processed by the system.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="customDataUse" type="CustomDataUse" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								List of comments related to how the custom data sections are being used.
								This is informational only and not processed by the system.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ConfigurationIdList">
		<xs:annotation>
			<xs:documentation>
				The list of configuration ID's that should have their associated configurations either returned or affected
				by a read, update or delete configuration request.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="configurationId" type="ConfigurationId" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								unique identification for the configuration.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CustomDataUse" >
		<xs:annotation>
			<xs:documentation>
				An XSD path and comment related to how the custom data section is being used.
				This is information only and not processed by the system.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsdFile" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						An XSD filename in the CUFX library that is the parent of the node that holds the custom data.
						For example: Party.xsd
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsdXPath" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						An XPath statement that identifies the XSD node of the custom data.  For example:
						/partyList/party/customData/*
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The name that will show up in the value pair within the custom data.  For instance,
						eye color.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Comment as to what is stored in the custom data.
						For example: Will hold the party's eye color in a value pair.
						name=eyecolor and value=blue
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ServiceName">
		<xs:restriction base="xs:string">
			<xs:enumeration value ="AccessProfile"></xs:enumeration>
			<xs:enumeration value ="Account"></xs:enumeration>
			<xs:enumeration value ="Activity"></xs:enumeration>
			<xs:enumeration value ="App"></xs:enumeration>		
			<xs:enumeration value ="Application"></xs:enumeration>
			<xs:enumeration value ="Artifact"></xs:enumeration>
			<xs:enumeration value ="Bill"></xs:enumeration>
			<xs:enumeration value ="BillPayee"></xs:enumeration>
			<xs:enumeration value ="BillPaymentOccurrence"></xs:enumeration>
			<xs:enumeration value ="BillPaymentReoccurring"></xs:enumeration>
			<xs:enumeration value ="Card"></xs:enumeration>
			<xs:enumeration value ="Category"></xs:enumeration>
			<xs:enumeration value ="Collateral"></xs:enumeration>
			<xs:enumeration value ="Configuration"></xs:enumeration>
			<xs:enumeration value ="Contact"></xs:enumeration>
			<xs:enumeration value ="CredentialGroup"></xs:enumeration>
			<xs:enumeration value ="CreditReport"></xs:enumeration>
			<xs:enumeration value ="DepositFunding"></xs:enumeration>
			<xs:enumeration value ="Deposit"></xs:enumeration>
			<xs:enumeration value ="Document"></xs:enumeration>
			<xs:enumeration value ="EligibilityRequirement"></xs:enumeration>
			<xs:enumeration value ="FeeSchedule"></xs:enumeration>
			<xs:enumeration value ="Field"></xs:enumeration>
			<xs:enumeration value ="Hold"></xs:enumeration>
			<xs:enumeration value ="InvestmentHolding"></xs:enumeration>
			<xs:enumeration value ="Investment"></xs:enumeration>
			<xs:enumeration value ="LoanDisbursement"></xs:enumeration>
			<xs:enumeration value ="Loan"></xs:enumeration>
			<xs:enumeration value ="Location"></xs:enumeration>
			<xs:enumeration value ="MicroDepositFunding"></xs:enumeration>
			<xs:enumeration value ="NetworkNode"></xs:enumeration>
			<xs:enumeration value ="Notes"></xs:enumeration>
			<xs:enumeration value ="OverdraftPriority"></xs:enumeration>
			<xs:enumeration value ="PartyAssociation"></xs:enumeration>
			<xs:enumeration value ="Party"></xs:enumeration>
			<xs:enumeration value ="PermissionList"></xs:enumeration>
			<xs:enumeration value ="Preference"></xs:enumeration>
			<xs:enumeration value ="ProductOffering"></xs:enumeration>
			<xs:enumeration value ="ProductServiceEnrollment"></xs:enumeration>
			<xs:enumeration value ="ProductServiceRequest"></xs:enumeration>
			<xs:enumeration value ="RegisteredDevice"></xs:enumeration>
			<xs:enumeration value ="Relationship"></xs:enumeration>
			<xs:enumeration value ="RemoteDeposit"></xs:enumeration>
			<xs:enumeration value ="SecureMessage"></xs:enumeration>
			<xs:enumeration value ="SimpleValidationRequest"></xs:enumeration>
			<xs:enumeration value ="SystemStatus"></xs:enumeration>
			<xs:enumeration value ="Transaction"></xs:enumeration>
			<xs:enumeration value ="TransferOccurrence"></xs:enumeration>
			<xs:enumeration value ="TransferRecurring"></xs:enumeration>
			<xs:enumeration value ="User"></xs:enumeration>		
			<xs:enumeration value ="Wire"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MethodId">
		<xs:annotation>
			<xs:documentation>
				Unique id for the method.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MethodIdList">
		<xs:annotation>
			<xs:documentation>
				The list of Method ID's that should have their associated configurations either returned or affected
				by a read, update or delete configuration request.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="MethodId" type="MethodId" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								unique identification for the method.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="MethodDependencyId">
		<xs:annotation>
			<xs:documentation>
				Unique id for the Method Dependency.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MethodDependencyIdList">
		<xs:annotation>
			<xs:documentation>
				The list of method dependency ID's that should have their associated configurations either returned or affected
				by a read, update or delete configuration request.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:ListBase">
				<xs:sequence>
					<xs:element name="methodDependencyId" type="MethodDependencyId" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Unique id for the Method Dependency.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="MethodName">
		<xs:restriction base="xs:string">
			<xs:enumeration value ="Create"></xs:enumeration>
			<xs:enumeration value ="Read"></xs:enumeration>
			<xs:enumeration value ="Update"></xs:enumeration>
			<xs:enumeration value ="Delete"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SystemStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Online"></xs:enumeration>
			<xs:enumeration value="OffLine"></xs:enumeration>
			<xs:enumeration value="MemoPost"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

  <xs:complexType name="ConfigurationNetworkNodeAddressList">
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationNetworkNodeAddressList" type="ConfigurationNetworkNodeAddress" minOccurs ="0" maxOccurs ="unbounded">
            <xs:annotation>
              <xs:documentation>
                A list of network nodes that is in or comprises the configuration.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfigurationNetworkNodeAddress">
    <xs:annotation>
      <xs:documentation>
        A network node address that is in or comprises the configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="configurationNetworkNodeAddressId " type="ConfigurationNetworkNodeAddressId" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the combination of configuration, application and Parameter.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="networkNodeAddress" type="networkNode:NetworkNodeAddress" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The details of the network node address within the configuration.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Configuration Field Not Supported level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConfigurationNetworkNodeAddressId">
    <xs:annotation>
      <xs:documentation>
        The unique identifier for the configuration and network node address combination.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ConfigurationNetworkNodeAddressIdList">
    <xs:annotation>
      <xs:documentation>
        The list of Configuration Fi App Parameter ID's that should have their associated configurations either returned or affected
        by a read, update or delete configuration request.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:ListBase">
        <xs:sequence>
          <xs:element name="configurationNetworkNodeAddressId" type="ConfigurationNetworkNodeAddressId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                The unique identifier for the configuration, financial institution and App.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
