CUFX/Schemas/CredentialGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://cufxstandards.com/v3/CredentialGroup.xsd"
	version="3.0.$Revision$"
	xmlns="http://cufxstandards.com/v3/CredentialGroup.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
  
  <xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />

  <xs:element name="credentialGroupList" type="CredentialGroupList">
    <xs:annotation>
      <xs:documentation>
        This is a list of crecentials used to access systems for the party.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="CredentialGroupList">
    <xs:annotation>
      <xs:documentation>
        Collection of credential groups for the party for accessing different systems.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="credentialGroup" type="CredentialGroup" minOccurs="0" maxOccurs="unbounded"
				nillable="true">
        <xs:annotation>
          <xs:documentation>
            Combination of credentials necessary
            to get access to a system.  For example, combination of username,
            password and token.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CredentialGroup">
    <xs:sequence>
      <xs:element name="fiUserId" type="FiUserId" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier used to find the party
            credential group for updating in the future
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="credentialList" type="CredentialList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Credential list is a combination of credentials require to access the system
            that the user must know.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="deliveryChannelList" type="DeliveryChannelList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            List of applicable delivery channels for these credentials.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="verifiedCredentialGroupToken" type="xs:NMTOKEN" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is not a persistent token.  IF the original filtered read request had the verifiedCredentialGroupList
            submitted, then this flag will return a token that represents that a session.  It is up
            to the back end system if this token is to be persisteed for the session in the back end system and used
            in future requests to manage state.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    
    
  </xs:complexType>

  <xs:complexType name="CredentialList">
    <xs:annotation>
      <xs:documentation>
        Credential list is a combination of credentials require to access the system
        that the user must know.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name="credential" type="Credential" minOccurs ="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Credentials used by the party to access a system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element name="credentialId" type="CredentialId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique Id for each credential across the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="relatedCredentialId" type="CredentialId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique Id for each related credential.  This is useful if there are credentials that
            work in pairs such as the case with SecurityQuestion and Security Answer.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="credentialType" type="CredentialType" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>
            Type of the credentials being used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="encrypted" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If True, indicates that the credential was encrypted.
            Encryption method is agreed upon by application end point
            providers.  Assume it’s NOT encrypted if this flag is not provided.
            The messageContext will be used by the service to understand which client is calling the service
            to know which encryption algorithm to apply.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="value" type="xs:NMTOKEN" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The value of the credential.  i.e the actual password, pin,
            answer, question, url for the image,  etc.  Recommended: This
            value can be encrypted beyond the message encryption since the
            data values are very sensitive.   Optionally, client and Security
            Services can pass encrypted credential values using RSA-2048.
            credential encrypted flag indicates that it was encrypted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="expirationDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Expiration date and time of the credentials.  The date/time
            should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="temporary" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If True, the credentials are temporary and must be reset
            upon first use of the credentials.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Name/data pairs list of fields that are not yet available
            the general specification.  This should be used as LAST RESORT
            as any customizations will not be supported by all data providers
            and able to be processed by client applications. ANY use of this
            field must be reported to the architecture or working group committee
            to ensure that fields are somehow handled in the future release of
            specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeliveryChannelList">
    <xs:annotation>
      <xs:documentation>
        List of applicable delivery channels for these credentials.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deliveryChannel" type="DeliveryChannel" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            The delivery channel for which this credential applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DeliveryChannel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LiveSupport">
        <xs:annotation>
          <xs:documentation>
            When a person calls in or walks up to a teller, sometimes a codeword
            is asked for to verify there identity.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="OnlineBanking" />
      <xs:enumeration value="Mobile" />
      <xs:enumeration value="Kiosk" />
      <xs:enumeration value="ATM" />
      <xs:enumeration value="IVR" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FiUserId">
    <xs:annotation>
      <xs:documentation>
        fiUserId is a unique identifer for the credential group.
        It is readable by person and the person types this into systems to gain access
        along with their password, PIN or whatever is required to gain access.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FiUserIdList">
    <xs:annotation>
      <xs:documentation>
        FiUserId list  for making a filtered request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fiUserId" type="FiUserId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            fiUserId is a unique identifer for the credential group.
            It is readable by person and the person types this into systems to gain access
            along with their password, PIN or whatever is required to gain access.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CredentialType">
  <xs:annotation>
    <xs:documentation>
      Type of the credentials being used.
    </xs:documentation>
  </xs:annotation>
    <xs:restriction base ="xs:string">
      <xs:enumeration value="Username">
        <xs:annotation>
          <xs:documentation>
            Username is a system id that is typically a shortened version of their name with no spaces
            that is used to access an account when the person is using an computer system.
            The user typically selects their userId during signup.  It is typically unique
            for that individual or account across the entire system of record.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Password">
        <xs:annotation>
          <xs:documentation>
            Password is a system id that is typically a shortened version of their name with no spaces
            that is used to access an account when the person is using an computer system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AtmPin">
        <xs:annotation>
          <xs:documentation>
            The ATM Pin is usually a 4 digit number with no spaces that is used at an ATM terminal
            for access cash funds, inquiring on balances or performing transfers.
            Depending upon the provider, this number can be randomly generated or selected
            by the user at time of account creation or activiating their card used for accessing
            the ATM.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Codeword">
        <xs:annotation>
          <xs:documentation>
            Codeword is used to accessing account when in person or over the phone.
            This is typically different than password used when accessing the
            account electronically.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Token">
        <xs:annotation>
          <xs:documentation>
            A token that was generated by a system for accessing a system.  Tokens
            can be rather lengthly to keep them confidential.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecurityQuestion" >
        <xs:annotation>
          <xs:documentation>
            A question that the user has selected paired with a security answer so that the system
            can confirm that the person is authorized to the account.  This is typically used
            in resetting the password on a system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecurityAnswer">
        <xs:annotation>
          <xs:documentation>
            An answer to a security question so that the system
            can confirm that the person is authorized to the account.  This is typically used
            in resetting the password on a system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChallengeQuestion" >
        <xs:annotation>
          <xs:documentation>
            A question that the user has selected paired with a challenge answer so that the system
            can confirm that the person is authorized to the account.  This is typically used
            in enabling a higher risk transaction on an account that requires a higher level
            of authentication to perform the transaction such as sending money extenrally.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="ChallengeAnswer" >
        <xs:annotation>
          <xs:documentation>
            An answer to a challenge question so that the system
            can confirm that the person is authorized to the account. This is typically used
            in enabling a higher risk transaction on an account that requires a higher level
            of authentication to perform the transaction such as sending money extenrally.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="AntiphishingPhrase">
        <xs:annotation>
          <xs:documentation>
            A phrase that the user can assign so that when the logs into their account
            the user can confirm that they have not been sent to a different web site to prevent them
            from performing transactions or providing confidential informaiton on a fraudent site.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="AntiphishingImageUrl">
        <xs:annotation>
          <xs:documentation>
            A URL to image that the user selected and assigned to their account so that when the logs into their account
            the user can confirm that they have not been sent to a different web site to prevent them
            from performing transactions or providing confidential informaiton on a fraudent site.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AntiphishingImageArtifactId" >
        <xs:annotation>
          <xs:documentation>
            A pointer to an image in the artifact repositor that the user selected and 
            assigedn to their account so that when the logs into their account
            the user can confirm that they have not been sent to a different web site to prevent them
            from performing transactions or providing confidential informaiton on a fraudent site.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuthorizationCode" >
        <xs:annotation>
          <xs:documentation>
            Can be used to authorize transactions such as wire transfers, password reset, ach transactions, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CredentialTypeList">
    <xs:annotation>
      <xs:documentation>
        List of credential types.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name="credentialType" type="CredentialType" minOccurs ="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            List of credential types.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name ="CredentialId">
    <xs:annotation>
      <xs:documentation>
        The credential ID is a persistent and unique identifier for the Credential. It should be unique for all credentials across the
        institution and remain the same over the life of the relationship with the financial institution.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" ></xs:restriction>
  </xs:simpleType>
  
</xs:schema>
