CUFX/Schemas/Deposit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="http://cufxstandards.com/v2/Deposit.xsd"
  version="2.0.$Revision$"
  xmlns="http://cufxstandards.com/v2/Deposit.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://cufxstandards.com/v2/Common.xsd"
  xmlns:base="http://cufxstandards.com/v2/AccountDetail.xsd"
  xmlns:relationship="http://cufxstandards.com/v2/relationship.xsd"
  xmlns:contact="http://cufxstandards.com/v2/contact.xsd"
  xmlns:party="http://cufxstandards.com/v2/party.xsd"
 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/AccountDetail.xsd" schemaLocation="AccountDetail.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/relationship.xsd" schemaLocation="relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/contact.xsd" schemaLocation="contact.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/party.xsd" schemaLocation="party.xsd" />

  <xs:element name="depositList" type="DepositList">
    <xs:annotation>
      <xs:documentation>
        Top level deposit list collection element
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="DepositList">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
          Collection of deposits data definition
        </xs:documentation>
      </xs:annotation>
      <xs:element name="deposit" type="Deposit" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Details relating to deposit account
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="deposit" type="Deposit">
    <xs:annotation>
      <xs:documentation>
        Top level element for Details relating to deposit account
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:complexType name="Deposit">
    <xs:annotation>
      <xs:documentation>
        Details relating to deposit account
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:AccountDetail">
        <xs:sequence>
          <xs:element name="partyList" type="PartyList" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                A collection of parties that associate each party associated to this deposit.
                Note that this is a specialized subset of fields for party which identify how the party is related.
                The details of the party can be pulled from the party object using the party ID.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          
          <xs:element name="BumpEffectiveDate" type="xs:date" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Date on which the BumpRate becomes effective.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BumpExpirationDate" type="xs:date" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Date on which the BumpRate expires.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BumpRate" type="common:Money" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The percentage to add to the normal rate during dividend calculations.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DividendPostCode" type="DividendPostCodeType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Defines how the dividends earned will be posted.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DividendRate" type="common:Money" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The percentage rate used to calculate dividends for this account. The DividendType must be set to allow for a custom rate.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DividendTransferAccountId" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Unique identifier of the account to post dividends to when the "Transfer" DividendPostCode is selected.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DividendType" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Name or number identifying the type of dividend calculation performed for this account.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IRSCode" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Defines IRS reporting requirements on this account.  Used to identify special requirements such as IRA or HSA.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaturityDate" type="xs:date" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The date the account matures.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaturityPostCode" type="MaturityPostCodeType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Defines how the account balance should be handled upon maturity.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaturityTransferAccountId" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Unique identifier of the account to transfer the balance to when the "Transfer" MaturityPostCode is selected.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MinimumDeposit" type="common:Money" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The minimum amount that can be deposited to the account in a single transaction.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MinimumWithdrawal" type="common:Money" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The minimum amount that can be withdrawn from the account in a single transaction.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceCode" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                FI defined source of application i.e. customer request, cross sell, counter offer, promo etc.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="DividendPostCodeType">
    <xs:annotation>
      <xs:documentation>
        Provides types for posting dividends earned on the account.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ToAccount">
        <xs:annotation>
          <xs:documentation>
            Dividends earned should be posted to the account.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ByCheck">
        <xs:annotation>
          <xs:documentation>
            Dividends earned should be sent by check to the member.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transfer">
        <xs:annotation>
          <xs:documentation>
            Dividends earned should be transferred to another account.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Forfeit">
        <xs:annotation>
          <xs:documentation>
            Dividends earned should not be posted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="MaturityPostCodeType">
    <xs:annotation>
      <xs:documentation>
        Provides types for posting the account balance upon maturity.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Renew">
        <xs:annotation>
          <xs:documentation>
            Account renews upon maturity.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ByCheck">
        <xs:annotation>
          <xs:documentation>
            Account balance should be sent by check to the member.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transfer">
        <xs:annotation>
          <xs:documentation>
            Account balance should be transferred to another account.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Suspend">
        <xs:annotation>
          <xs:documentation>
            Funds should remain in the account until transferred manually.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="PartyList">
    <xs:annotation>
      <xs:documentation>
        A collection of party id’s that uniquely identify each party associated to this loan
        and additional field on how the party relates to the loan.
        This list is subset with additional fields of the party data.
        This list is in additional to the relationship parties if available.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="party" type="Party" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            This object is subset with additional fields of the party data.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Party">
    <xs:annotation>
      <xs:documentation>
        This object is subset with additional fields of the party data.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="partyId" type="party:PartyId"  minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the party.  Must be a valid party id.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="partyRelationshipType" type="PartyRelationshipType">
        <xs:annotation>
          <xs:documentation>
            Level of ownership the party has over the account.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="ssnOverride" type="xs:boolean" minOccurs="0" maxOccurs="1" default ="false">
        <xs:annotation>
          <xs:documentation>
            The party’s SSN should be used rather the PRIMARY’s SSN when reporting to the IRS.
            Only used if partyRelationshipType is NOT PRIMARY.  Only one of these can appear
            on an account if applicable.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="contactIdList" type="contact:ContactIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Collection of contacts for the party within this account.  Only contains the
            contactId for each contact.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyRelationshipType">
    <xs:annotation>
      <xs:documentation>
        The party relationship type is the textual representation of what the
        party record represents to this loan such as primary or coborrower,
        beneficiary or some other type of relationship. This value
        may be visible to the user and must be human-readable.  If the same
        party exists at the relationshiop level, the account level
        relationship type overrides the relationship.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="holder" type="relationship:Holder" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Owner of all the products under relationship.
          </xs:documentation >
        </xs:annotation>
      </xs:element>

      <xs:element name="beneficiary" type="relationship:Beneficiary" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Receiver of funds in certain circumstances based on product type.
          </xs:documentation >
        </xs:annotation>
      </xs:element>

      <xs:element name="agent" type="relationship:Agent" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Acts on behalf of the loan holder.
          </xs:documentation >
        </xs:annotation>
      </xs:element>

      <xs:element name="guarantor" type="relationship:Guarantor" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Guarantees/carries liability for deposit.  For deposit accounts, guarantees any negative account balances.
          </xs:documentation >
        </xs:annotation>
      </xs:element>

      <xs:element name="safeDepositBoxUser" type="relationship:SafeDepositBoxUser" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Party who has access to the safe deposit box attached to a deposit account.
          </xs:documentation >
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
