CUFX/Schemas/Document.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
targetNamespace="http://cufxstandards.com/v2/Document.xsd"
version="2.0.$Revision: 189 $"
xmlns="http://cufxstandards.com/v2/Document.xsd"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:common="http://cufxstandards.com/v2/Common.xsd"
xmlns:party="http://cufxstandards.com/v2/Party.xsd"
xmlns:relationship="http://cufxstandards.com/v2/Relationship.xsd"
xmlns:account="http://cufxstandards.com/v2/Account.xsd"
xmlns:artifact="http://cufxstandards.com/v2/Artifact.xsd"
 
elementFormDefault="qualified"
attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Artifact.xsd" schemaLocation="Artifact.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Relationship.xsd" schemaLocation="Relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Account.xsd" schemaLocation="Account.xsd" />

  <xs:element name= "documentList" type ="DocumentList">
    <xs:annotation>
      <xs:documentation>
        The Documents collection/array list contains all the documents for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="DocumentList">
    <xs:annotation>
      <xs:documentation>
        The Documents collection/array list contains all the documents for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="document" type="Document" minOccurs="0" maxOccurs="unbounded">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Document">
    <xs:annotation>
      <xs:documentation>
        The document defines the information stored when a person signs a document or agreement electronically
        or manually.  This also relates documents to the party, relationship and/or account for which the dislcosure
        is legally bound to.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="documentId" type="DocumentId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The document ID is a persistent and unique identifier for the document not related to the party, relationship or accounts
            that the document is for. It should be unique for all documents across the
            institution and remain the same over the life of the dislcosure within the financial institution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentTitle" type="DocumentTitle" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Each document has a title which is determined by the financial institution.
            Examples are Loan Dislosure, Savings Disclosure, Checking Disclosure, Membership Disclosure, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentStatus" type="DocumentStatus" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Current Status of the document in the process of being sent, presented, signed, unsigned, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentSignatureType" type="DocumentSignatureType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If the document has been signed, how was it signed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentSignedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Current Status of the document in the process of being sent, presented, signed, unsigned, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="signedWithIpAddress" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            When electronically signed the following IP address was used was in the session.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentArtifactId" type="artifact:ArtifactId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Pointer to the document in the artificate repository.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="partyIdList" type="party:PartyIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of partyId's that relate to this document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The relationshipId that relates to this document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="accountIdList" type="account:AccountIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of Account Id's that relate to this document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Document name/data pairs list of fields that are not yet available in the general specification.
            This should be used as LAST RESORT as any customizations will not be supported by all data providers
            and able to be processed by client applications. ANY use of this field must be reported to the
            architecture or working group committee to ensure that fields are somehow handled in the future
            release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="DocumentId">
    <xs:annotation>
      <xs:documentation>
        The document ID is a persistent and unique identifier for the document not related to the party, relationship or accounts
        that the document is for. It should be unique for all documents across the
        institution and remain the same over the life of the dislcosure within the financial institution.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="DocumentIdList">
    <xs:annotation>
      <xs:documentation>
        The list of document id's that should have their associated documents either returned or affected
        by a read, update or delete a request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentId" type="DocumentId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A document Id that should have its associated documents either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  

  <xs:simpleType name="DocumentTitle">
    <xs:annotation>
      <xs:documentation>
        Each document has a title which is determined by the financial institution.
        Examples are Loan Dislosure, Savings Disclosure, Checking Disclosure, Membership Disclosure, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base ="xs:string" />
  </xs:simpleType>

  <xs:complexType name="DocumentTitleList">
    <xs:annotation>
      <xs:documentation>
        The list of document title's that should have their associated documents either returned or affected
        by a read, update or delete a request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentTitle" type="DocumentTitle" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An document title that should have its associated documents either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="DocumentStatus">
    <xs:annotation>
      <xs:documentation>
        Current Status of the document in the process of being sent, viewed, returned (see signature
        type to determine if it was returned signed or not.)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sent">
        <xs:annotation>
          <xs:documentation>
            The document has been sent to the person via mail or electronically but not signed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Viewed">
        <xs:annotation>
          <xs:documentation>
            The document has been viewed online but not signed.  Some documents may only require being viewed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Returned">
        <xs:annotation>
          <xs:documentation>
            The document has been returned.  See Signature Type to determine if signed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DocumentStatusList">
    <xs:annotation>
      <xs:documentation>
        The list of document status that should have their associated documents either returned or affected
        by a read, update or delete a request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentStatus" type="DocumentStatus" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A document status that should have its associated documents either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DocumentSignatureType">
    <xs:annotation>
      <xs:documentation>
        If the document has been signed, how was it signed.
      </xs:documentation>
    </xs:annotation>
    
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unsigned">
        <xs:annotation>
          <xs:documentation>
            The document has been been sent or viewed online but not signed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectronicSignature">
        <xs:annotation>
          <xs:documentation>
            The document has been viewed online and the person agreed to electronically.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SingleClickAcceptance">
        <xs:annotation>
          <xs:documentation>
            The document has been viewed online and the person agreed to electronically with a single click.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WetSignature">
        <xs:annotation>
          <xs:documentation>
            The document has been viewed online and the person agreed to electronically.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DocumentSignatureTypeList">
    <xs:annotation>
      <xs:documentation>
        The list of document signature typethat should have their associated documents either returned or affected
        by a read, update or delete a request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentSignatureType" type="DocumentSignatureType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A document signature type that should have its associated documents either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
