CUFX/Schemas/Error.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/Error.xsd"
	xmlns="http://cufxstandards.com/Error.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	version="0.0.4"
	attributeFormDefault="unqualified">

  <xs:element name ="errorList" type ="ErrorList">
    <xs:annotation>
      <xs:documentation>
        The Error collection/array contains all the errors returned when
        a service point was called.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ErrorList">
    <xs:annotation>
      <xs:documentation>
        The Error collection/array contains all the errors returned when
        a service point was called.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="error" type="Error" minOccurs="0" maxOccurs="unbounded"
				nillable="true">
        <xs:annotation>
          <xs:documentation>
            A collection of fields that represents an individual error that occurred when a
            service point was called.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="Error" >
    <xs:annotation>
      <xs:documentation>
        A collection of fields that represents an individual error that occurred when a
        service point was called.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="Code" minOccurs="1" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Standard CUFX code returned by the service point.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="subCode" type="xs:integer" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Non-standard Error code that was back end system.  This may be
            helpful in understanding why a particular error occurred.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            The message that can be displayed to an end user.  This message
            may be discarded if the client has a message that is more appropriate
            based on the scenario when the error occurred.
            This message may be in a different language depending upon the
            language parameter at the header level in the service call.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Code">
    <xs:annotation>
      <xs:documentation>
        Standard CUFX code returned by the service point.
        The documentation contains the standard message to return.
        When '%s' is in the message, it should be replaced with additional
        details relative to the message content.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:enumeration value ="300">
        <xs:annotation>
          <xs:documentation>
            No Data in request.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="301">
        <xs:annotation>
          <xs:documentation>
            Invalid Data length in field '%s'.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="302">
        <xs:annotation>
          <xs:documentation>
            No matching records were found.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="400">
        <xs:annotation>
          <xs:documentation>
           Bad Request.  Data in the request was invalid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="401">
        <xs:annotation>
          <xs:documentation>
           Login Invalid.  The user token or credentials were invalid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="402">
        <xs:annotation>
          <xs:documentation>
            Session token expired. The provided session token was expired or otherwise invalid
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="403">
        <xs:annotation>
          <xs:documentation>
            User token expired. The provided user token expired.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="409">
        <xs:annotation>
          <xs:documentation>
            Conflict.  The entity submitted for creation already exists.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="411">
        <xs:annotation>
          <xs:documentation>
            Incomplete request.  The request omitted the following required fields: '%s'
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="412">
        <xs:annotation>
          <xs:documentation>
              Previous request required.  A '%s' request must be made before this one, and was not.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="413">
        <xs:annotation>
          <xs:documentation>
            Value out of acceptable range.  The value ‘%s’ is not supported for the field ‘%s’ by this service. Valid values must be between ‘%s’ and ‘%s’.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="415">
        <xs:annotation>
          <xs:documentation>
            Unsupported value.  The value ‘%s’ is not supported for the field ‘%s’ by this service. Valid values include '%s'.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="422">
        <xs:annotation>
          <xs:documentation>
            Unprocessable entity.  The request contained the following references to entities that could not be found: '%s'
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="423">
        <xs:annotation>
          <xs:documentation>
            Account locked.  The login was valid but the account was disabled, locked or otherwise inaccessible.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="424">
        <xs:annotation>
          <xs:documentation>
            MFA login failed.  The MFA login information provided was incorrect.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="425">
        <xs:annotation>
          <xs:documentation>
            MAC invalid.  The MAC was invalid or missing.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="426">
        <xs:annotation>
          <xs:documentation>
            Encryption error.  The provided encrypted data could not be decrypted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="429">
        <xs:annotation>
          <xs:documentation>
            Too Many Requests.  The user has sent too many requests in a given amount of time.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="430">
        <xs:annotation>
          <xs:documentation>
            Invalid language.  The requested language '%s' is not supported.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="431">
        <xs:annotation>
          <xs:documentation>
            Invalid email format.  The format of the email was invalid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="432">
        <xs:annotation>
          <xs:documentation>
            Invalid phone format.  The format of the phone was invalid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="433">
        <xs:annotation>
          <xs:documentation>
            Invalid FI ID.  The Financial Institution ID was not recognized.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="434">
        <xs:annotation>
          <xs:documentation>
            Invalid Parent FI ID.  The Parent Financial Institution ID was not recognized.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>


      <xs:enumeration value ="435">
        <xs:annotation>
          <xs:documentation>
            Unable to parse request. Invalid JSON/XML.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="436">
        <xs:annotation>
          <xs:documentation>
            Access Denied.  Access to resource requested was denied.	subCode may contain additional details.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="437">
        <xs:annotation>
          <xs:documentation>
            Artifact not found.	The artifactId could not be found in the Repository.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="438">
        <xs:annotation>
          <xs:documentation>
            Update to field not allowed.	The Repository does not allow updates to '%s'.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="439">
        <xs:annotation>
          <xs:documentation>
            Artifact could not be decompressed.	 artifactCompressionType did not result in a successful decompression of the artifact
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>


      <xs:enumeration value ="440">
        <xs:annotation>
          <xs:documentation>
            MIME Type not supported. 	Repository rejected the MIME type.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="441">
        <xs:annotation>
          <xs:documentation>
            Artifact has been archived.	The artifact with the given artifactId has been archived out of the repository. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="442">
        <xs:annotation>
          <xs:documentation>
            Artifact too large.	The Repository has rejected the artifact because the artifact has exceeded the Repository’s size limit.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="443">
        <xs:annotation>
          <xs:documentation>
            Artifact too small.	The Repository has rejected the artifact because the artifact is smaller than its minimum size limit.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="444">
        <xs:annotation>
          <xs:documentation>
            Artifact rejected. 	The Repository has rejected the artifact. See the sub error codes for the specific reason.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="475">
        <xs:annotation>
          <xs:documentation>
            Invalid format.  The format of the request is not supported.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="499">
        <xs:annotation>
          <xs:documentation>
            General Error.  Review subCode for more information.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="503">
        <xs:annotation>
          <xs:documentation>
            Service is temporarily unavailable.  Try again later.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="504">
        <xs:annotation>
          <xs:documentation>
            Service is temporarily unavailable.  Service is expected to be back up at '%s'.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
