CUFX/Schemas/FundsTransferOccurrenceBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v3/FundsTransferOccurrenceBase.xsd"
	version="3.0.$Revision$"
	xmlns="http://cufxstandards.com/v3/FundsTransferOccurrenceBase.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	xmlns:party="http://cufxstandards.com/v3/Party.xsd"
	xmlns:billpayee="http://cufxstandards.com/v3/BillPayee.xsd"
	xmlns:account="http://cufxstandards.com/v3/Account.xsd"
	xmlns:fundsTransferRecurringBase="http://cufxstandards.com/v3/FundsTransferRecurringBase.xsd"
	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">


	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/BillPayee.xsd" schemaLocation="BillPayee.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/FundsTransferRecurringBase.xsd" schemaLocation="FundsTransferRecurringBase.xsd" />
  
  
	<xs:complexType name="FundsTransferOccurrenceBase" abstract ="true">
		<xs:complexContent>
			<xs:extension base="fundsTransferRecurringBase:FundsTransferRecurringBase" >
				<xs:annotation>
					<xs:documentation>
						This complex type is used for abstracting the transactional transfer, bill payment, ACH payment, wire, etc.
						The request is that a payment or transfer was requested.  This is the actual occurrence of the payment or
            transfer which will then result in a transaction (history) that is stored on a back end core system.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="occurrenceId" type="xs:long" minOccurs="0"  >
						<xs:annotation>
							<xs:documentation>
                ID to uniquely identify the occurrence of a payment or transfer.
              </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="estimatedProcessDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
						<xs:annotation>
							<xs:documentation>
								The date on which to process the payment or transfer.  This date can be in the future.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z) or
                yyyy-mm-dd (2011-03-28) formats are supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processedDateTime" type="xs:dateTime" minOccurs="0"  maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The date on which the payment or transfer was actually processed by the system. 
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
                or yyyy-mm-dd (2011-03-28) formats are supported.  The time is assumed to be
                00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1" >
						<xs:annotation>
							<xs:documentation>
								The date that the user submitted the payment or transfer.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="processingStartedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
						<xs:annotation>
							<xs:documentation>
								The date on which the payment or transfer processing started.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="completedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1" >
						<xs:annotation>
							<xs:documentation>
								Date on which the core completed the payment or transfer.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastUpdatedDateTime" type="xs:dateTime" minOccurs="0" >
						<xs:annotation>
							<xs:documentation>
								Date of the last known status of the payment or transfer.
								The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
								(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
								supported.  The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="memoPosted" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Indicates whether the payment or transfer has been memo-posted or not.
              </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="note" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                A user's "note to self." This note is not submitted to the core. (Optional)
              </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="customData" type="common:CustomData" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Transfer level name/data pairs list of fields that are not yet available in the general specification.
								This should be used as a LAST RESORT as any customizations will not be supported by all data providers
								or processed by all client applications. ANY use of this field must be reported to the architecture or
								working group committee to ensure that fields are somehow handled in the future	release of specifications.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:simpleType name="OccurrenceStatus">
		<xs:annotation>
			<xs:documentation>
				This is the enumeration of statuses for bill payment.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Scheduled">
				<xs:annotation>
					<xs:documentation>
						The payment is in the process for immediate or future payment and is cancellable by the party since
            it's not InProcess yet.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="InProcess">
				<xs:annotation>
					<xs:documentation>
						The bill payment is in process and is no longer cancellable, but it has not been sent.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CancelRequestedByParty">
				<xs:annotation>
					<xs:documentation>
						A bill payment was requested to be cancelled by the party but has not yet been cancelled.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CancelRequestedByFinancialInstitution">
				<xs:annotation>
					<xs:documentation>
						A bill payment has been cancelled at the request of the party's financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CancelRequestedByPaymentProvider">
				<xs:annotation>
					<xs:documentation>
						A bill payment has been cancelled at the request of the party's payment provider.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cancelled">
				<xs:annotation>
					<xs:documentation>
						A bill payment has been cancelled.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Completed">
				<xs:annotation>
					<xs:documentation>
						The transfer or payment transaction has been cleared/completed by the financial institution.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Declined">
				<xs:annotation>
					<xs:documentation>
						The payment was declined (for instance, in the case that a debit or card was used as the funding source).
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FundsOutbound">
				<xs:annotation>
					<xs:documentation>
						The funds have been transferred to the payment provider but have not yet arrived at the payment provider.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FundsCleared">
				<xs:annotation>
					<xs:documentation>
						The funds for the payment have been received by the payment provider but the actual payment hasn't
						cleared at the payee.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Held">
				<xs:annotation>
					<xs:documentation>
						The payment has been held by the payment provider and has not been sent to the payee.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="InsufficientFunds">
				<xs:annotation>
					<xs:documentation>
						The payment has attempted to clear the financial institution account but there was not enough funds available.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sent">
				<xs:annotation>
					<xs:documentation>
						Payment has been sent to the payee but has not been received yet.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Returned">
				<xs:annotation>
					<xs:documentation>
						Payment was returned by the payee and not cleared.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Suspended">
				<xs:annotation>
					<xs:documentation>
						Payment was scheduled for recurring payment but has been suspended until taken out of suspended status.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="OccurrenceId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The occurrence ID to uniquely identify the occurrence of a payment or transfer.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OccurrenceIdList">
    <xs:annotation>
      <xs:documentation>
        The list of transfer or payment occurrence ID's that should have their associated occurrence ID either returned
        or affected by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="occurrenceId" type="OccurrenceId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An occurrence ID that should have its associated documents either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  
</xs:schema>