CUFX/Schemas/InvestmentHolding.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="http://cufxstandards.com/v3/InvestmentHolding.xsd"
  version="3.2.$Revision$"
  xmlns="http://cufxstandards.com/v3/InvestmentHolding.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	xmlns:account="http://cufxstandards.com/v3/Account.xsd"

 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />


	<xs:element name="investmentHoldingList" type="InvestmentHoldingList">
		<xs:annotation>
			<xs:documentation>
				Top level investment account list collection element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="InvestmentHoldingList">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Data definition of a collection of holdings by account.
				</xs:documentation>
			</xs:annotation>
			<xs:element name="investmentHolding" type="InvestmentHolding" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Details relating to a investment holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvestmentHolding">
		<xs:sequence>
			<xs:element name="accountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The account ID is a persistent and unique identifier for the account.
						It must be unique for all users across the institution and remain the
						same over the life of the account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingID" type="HoldingId" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Unique ID of the holding within account from the source system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingCusipNumber" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Committee on Uniform Securites Identification Procedures (CUSIP) number of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingAsOfDateTime" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date/time stamp of the evaluation of the investment or security.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingType" type="HoldingType" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The holding type of the account or Security.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingDescription" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The description of the holding detail
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingQuantity" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The quantity of shares held.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingPrice" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The price of the holding at a specific time as noted by holdingPriceDateTime
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingPriceDateTime" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date/time of holding price capture.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingStockSymbol" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The stock symbol of the the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingTotalValue" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The total value of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingYield" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Holding Yield.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingYieldAsOfDate" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Holding Yield as of date.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingAssetClass" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Asset class of the holding. Examples : Equities, Fixed Income, Cash.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingBondClass" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Bond class of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingBondType" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Bond type of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingMoodyRating" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Moody rating of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingStandardAndPoorsRating" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Standard and Poors rating of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingParValue" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Par value of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingCouponRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Coupon rate of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingCouponFrequency" type="common:IntervalFrequencyType" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Coupon frequency of the holding.
						OneTime: one time usage at any other point than at maturity.
						AtMaturity: one time usage at maturity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingCallPrice" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Call price of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingYieldToCall" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Yield to call of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingCallType" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Call type of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingYieldToMaturity" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Yield to maturity of the holding.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingMaturityDate" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Holding maturity date.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingNextCouponDate" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Holding next coupon date.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holdingNextCallDate" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Holding next call date.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
						(2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
						supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="HoldingId">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The holding ID is a persistent and unique identifier for the investment holding.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="HoldingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Asset" />
			<xs:enumeration value="Bond" />
			<xs:enumeration value="Certificate of Deposit" />
			<xs:enumeration value="Exchange-Traded Fund" />
			<xs:enumeration value="Insurance" />
			<xs:enumeration value="IRA Traditional" />
			<xs:enumeration value="IRA Roth" />
			<xs:enumeration value="IRA SEP" />
			<xs:enumeration value="Money market account" />
			<xs:enumeration value="Mutual fund" />
			<xs:enumeration value="Real Estate" />
			<xs:enumeration value="REIT" />
			<xs:enumeration value="Stock" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HoldingIdList">
		<xs:annotation>
			<xs:documentation>
				The list of holding ID's that should have their associated accounts either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="holdingId" type="HoldingId" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						An holding Id that should have its associated accounts either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>


