CUFX/Schemas/Meta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v4/Meta.xsd"
	version="4.2.$Revision$"
	xmlns="http://cufxstandards.com/v4/Meta.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v4/Common.xsd"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v4/Common.xsd" schemaLocation="Common.xsd" />


	<xs:complexType name="Meta">
		<xs:annotation>
			<xs:documentation>
				For each account type, optional meta information MAY be
				provided with these tags depending upon account type
				returned.

				Intended choice - Due to cross language serialization issues the choice construct has been removed.
				It is the responsibility of the implementer to add programmatic logic for this complex type to detect,
				handle and or error when population of more than one element is present.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="loanMeta" type="LoanMeta" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Auto loans, etc. Loans that are NOT line of credit or credit cards.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="checkingSavingsMeta" type="CheckingSavingsMeta" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Checking (e.g draft accounts) and savings accounts.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditCardMeta" type="CreditCardMeta" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Credit card accounts.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="investmentMeta" type="InvestmentMeta" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Investment accounts.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lineOfCreditMeta" type="LineOfCreditMeta" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Line of credit accounts.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mortgageMeta" type="MortgageMeta" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Mortgage accounts.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LoanMeta">
		<xs:annotation>
			<xs:documentation>
				Auto loans, etc. Loans that are NOT line of credit or credit cards.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interestRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Interest rate percent of the loan.
						Determines the amount charged each time period based on the loan period.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditLimit" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Credit limit: institutions may not allow a person to charge more than this limit on the card.
						In cases where the limit is exceeded, then typically over-the-limit charges occur.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annualPercentageRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Calculated annual percentage rate (APR). Is the interest rate for a whole year (annualized).
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Interest rate that is used for calculations.
						Most of the time you would only use rate AND APR when there is a split or variable rate.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumPayment" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount due each payment period to keep the credit card in good standing.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maturityDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the loan must be paid off.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Original balance of the loan, i.e. how much was borrowed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentDueDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that payment is due for the loan to keep in good standing and avoid penalties.
						Many times institutions will institute a grace period beyond this date,
						but this is the published due date.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentPayoffBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The current payoff balance represents the amount required to pay off the loan
						at the date/time the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interestDue" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest due.  Generally the amount of interest due as date of inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentFrequencyType" type="common:FrequencyType" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The loan payment frequency
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPaymentDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the last payment was made.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPaymentAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of the last payment made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid year-to-date at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousYtdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid in the previous year
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latePaymentFee" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of late payment charges due at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pastDueAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The past due amount as a sum of the minimum payments missed plus late fees that have been added to the account since the last payment due date.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent statement
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the previous statment
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatemntBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of the loan balance and interest due at the end of the last statement, i.e,, the just completed statement period.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPaymentDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the next payment is due.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPaymentAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of the next payment due.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CheckingSavingsMeta">
		<xs:sequence>
			<xs:element name="annualPercentageYield" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Annual percentage yield. Is a normalized representation of an interest rate, based on a compounding period of one year.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overDraftProtectionEnabled" type="xs:boolean" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						True if the account is enrolled in overdraft protection
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overDraftFeesYtd" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of overdraft charges year-to-date at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInsufficientFundsFees" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of charges for insufficient funds year-to-date at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mtdInsufficientFundsFees" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of charges for insufficient funds month-to-date at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInterestEarned" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of interest/dividends earned on the account year-to-date at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousYtdInterestEarned" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of interest/dividends earned on the account in the previous year.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastInterestEarnedDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the date of the last interest/dividends posted to the account.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastInterestEarnedAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of the last interest/dividends posted to the account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent statement
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the previous statment
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastTransactionDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent transaction. The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interestRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Interest Rate earned by the investment.
						Determines the amount earned each time period based on the period.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Original starting balance of the deposit account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreditCardMeta">
		<xs:sequence>
			<xs:element name="brand" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The company that sponsors the card (i.e. Visa, MasterCard, American Express, etc.).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditLimit" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Credit limit: institutions may not allow a person to charge more than this limit on the card.
						In cases where the limit is exceeded, then typically over-the-limit charges occur.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumPayment" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount due each payment period to keep the credit card in good standing.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentDueDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that payment is due for the loan to keep in good standing and avoid penalties.
						Many times institutions will institute a grace period beyond this date,
						but this is the published due date.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent statement
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the previous statment
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latePaymentFee" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of late payment charges due at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pastDueAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The past due amount as a sum of the minimum payments missed plus late fees that have been added to the account since the last payment due date.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPaymentDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the last payment was made.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPaymentAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of the last payment made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of the card balance and interest due at the end of the last statement, i.e,, the just completed statement period.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interestRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Interest rate percent of the loan.
						Determines the amount charged each time period based on the loan period.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid year-to-date at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousYtdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid in the previous year
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastTransactionDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent transaction. The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annualPercentageRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Calculated annual percentage rate (APR). Is the interest rate for a whole year (annualized).
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interestDue" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest due.  Generally the amount of interest due as date of inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvestmentMeta">
		<xs:sequence>
			<xs:element name="startingBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Amount that was deposited into the investment product when it was originally opened.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maturityDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the investment will pay out the full balance including any gains.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interestRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Interest Rate earned by the investment.
						Determines the amount earned each time period based on the period.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInterestEarned" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of interest/dividends earned on the account year-to-date at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousYtdInterestEarned" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of interest/dividends earned on the account in the previous year.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastInterestEarnedDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the date of the last interest/dividends posted to the account.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastInterestEarnedAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of the last interest/dividends posted to the account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent statement
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the previous statment
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastTransactionDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent transaction. The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annualPercentageYield" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Annual percentage yield. Is a normalized representation of an interest rate, based on a compounding period of one year.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LineOfCreditMeta">
		<xs:sequence>
			<xs:element name="interestRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Interest rate charged to the line of credit.
						Determines the amount charged each time period based on the period.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Original balance of the line of credit, i.e. how much was borrowed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditLimit" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Credit limit: institutions may not allow a person to charge more than this limit on the card.
						In cases where the limit is exceeded, then typically over-the-limit charges occur.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumPayment" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount due each payment period to keep the line of credit in good standing.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentDueDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that payment is due for the line of credit to keep in good standing and avoid penalties.
						Many times institutions will institute a grace period beyond this date,
						but this is the published due date.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentPayoffBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The current payoff balance represents the amount required to pay off the line of credit
						at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latePaymentFee" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of late payment charges due at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interestDue" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest due.  Generally the amount of interest due as date of inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pastDueAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The past due amount as a sum of the minimum payments missed plus late fees that have been added to the account since the last payment due date.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid year-to-date at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousYtdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid in the previous year
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPaymentDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the last payment was made.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPaymentAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of the last payment made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentFrequencyType" type="common:FrequencyType" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The loan payment frequency
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent statement
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the previous statment
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastTransactionDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent transaction. The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annualPercentageRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Calculated annual percentage rate (APR). Is the interest rate for a whole year (annualized).
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPaymentDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the next payment is due.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPaymentAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of the next payment due.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MortgageMeta">
		<xs:sequence>
			<xs:element name="interestRate" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Interest rate charged to the mortgage.
						Determines the amount charged each time period based on the period.
						Value is formatted as a percentile. A passed value of 4.5 is equivalent to 0.045 actual.
						4.500 may be displayed as 4.500% or 4.5% depending on the user interface.
						Decimals available: 999.999
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Original balance of the mortgage, i.e. how much was borrowed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maturityDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the loan must be paid off.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="escrowBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Amount held in escrow for paying taxes on a mortgage financial instrument.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumPayment" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount due each payment period to keep the mortgage in good standing.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentDueDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that payment is due for the mortgage to keep in good standing and avoid penalties.
						Many times institutions will institute a grace period beyond this date, but this is the
						published due date.  The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentPayoffBalance" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The current payoff balance represents the amount required to pay off the mortgage
						at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdTaxesPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The total in taxes paid year-to-date at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ytdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid year-to-date at the date/time that the request was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousYtdInterestPaid" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of interest paid in the previous year
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latePaymentFee" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						This is the amount of late payment charges due at the date/time of the inquiry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pastDueAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The past due amount as a sum of the minimum payments missed plus late fees that have been added to the account since the last payment due date.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the most recent statement
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousStatementDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date of the previous statment
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPaymentDate" type="xs:date" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date that the next payment is due.
						The date should be ISO 8601 format yyyy-mm-dd (2011-03-28).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPaymentAmount" type="common:Money" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The amount of the next payment due.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
