CUFX/Schemas/MicroDepositFunding.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v2/MicroDepositFunding.xsd"
	version="2.1.$Revision$"
	xmlns="http://cufxstandards.com/v2/MicroDepositFunding.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:account="http://cufxstandards.com/v2/Account.xsd" 
	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v2/Account.xsd" schemaLocation="Account.xsd" />
	
	<xs:complexType name="MicroDepositFunding">
		<xs:sequence>
			
			<xs:element name="MicroDepositId" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>ID to track micro-deposits.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="MicroDepositConfirmation" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>Confirmation number for micro-deposits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="FundingAccount" type="account:AccountId" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>External Account that needs to be verified</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="MicroDeposit1" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>Micro deposit 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="MicroDeposit2" type="xs:decimal" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>Micro deposit 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>

	</xs:schema>
