CUFX/Schemas/PartyAssociation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v2/PartyAssociation.xsd"
	version="2.0.$Revision$"	
	xmlns="http://cufxstandards.com/v2/PartyAssociation.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v2/Common.xsd"
	xmlns:party="http://cufxstandards.com/v2/Party.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />

  <xs:element name= "partyAssociationList" type ="PartyAssociationList">
    <xs:annotation>
      <xs:documentation>
        The partyAssociationList collection/array contains all the partyAssociations for instance that the credential set is
        authorized to access at the Institution based on applied filters.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PartyAssociationList">
    <xs:annotation>
      <xs:documentation>
        The partyAssociationList collection/array contains all the partyAssociations for instance that the credential set is
        authorized to access at the Institution based on applied filters
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="partyAssociation" type="PartyAssociation" minOccurs="0" maxOccurs="unbounded">
      </xs:element >
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyAssociation">
    <xs:annotation>
      <xs:documentation>
        The partyAssociation object defines all the fields necessary to define an association between an individual
        organization, trust or estate.  This allows the financial institution to better serve the clients 
        because it better understands how each party relates with another.  This also helps in identifying
        risks that may be within their clients such as liability with a partnership in an organization.
        The partyAssociationId uniquely identifies the partyAssociation within the financial institution.
      </xs:documentation>
    </xs:annotation>
    
    <xs:sequence>
      <xs:element name="partyAssociationId" type="PartyAssociationId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The partyAssociation ID is a persistent and unique identifier for the partyAssociation. 
            It should be unique for all parties across the institution and remain the same over
            the life of the relationship with the financial institution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="parentPartyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The parentPartyId is the first party in the relationship.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="childPartyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The childPartyId is the second party in the relationship.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="partyAssociationType" type="PartyAssociationType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The partyAssociationType identifies how the parentParty relates to the childParty.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Party Association level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as LAST RESORT as any customizations will not be supported by all data providers
            and able to be processed by client applications. ANY use of this field must be reported to the
            architecture or working group committee to ensure that fields are somehow handled in the future
            release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="PartyAssociationType">
    <xs:annotation>
      <xs:documentation>
        The partyAssociationType identifies how the parentParty relates to the childParty.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="partner" type="Partner">
        <xs:annotation>
          <xs:documentation>
            Individual (parent) is a partner in a business (child)
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="officerManager" type="OfficerManager">
        <xs:annotation>
          <xs:documentation>
            Individual (parent) is a partner in a business (child)
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="agent" type="Agent">
        <xs:annotation>
          <xs:documentation>
            Individual (parent) is an agent of another individual (child).  Acts on behlf of the other individual.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="nextOfKin" type="NextOfKin">
        <xs:annotation>
          <xs:documentation>
            Individual (parent) is next of kin of another individual (child). 
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="trustor" type="Trustor">
        <xs:annotation>
          <xs:documentation>
            Individual provides funds to the associated trust.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Partner">
    <xs:annotation>
      <xs:documentation>
        Individual (parent) is a partner in a business (child)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="PartnerQualifer" minOccurs ="1" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Partner Type
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PartnerQualifer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GeneralPartner">
        <xs:annotation>
          <xs:documentation>
            Owners of a partnership who have unlimited liability.
            Read more: http://www.investopedia.com/terms/g/generalpartner.asp#ixzz2792brLlG
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LimitedPartner">
        <xs:annotation>
          <xs:documentation>
            Owners of a partnership who have limited liability.
            Read more: http://legal-dictionary.thefreedictionary.com/limited%20partnership
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OfficerManager">
    <xs:annotation>
      <xs:documentation>
        Individual (parent) is an officer or a manager of an organization (child)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="OfficerManagerQualifer" minOccurs ="1" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Partner Type
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="OfficerManagerQualifer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BoardOfDirectors">
        <xs:annotation>
          <xs:documentation>
            On Board of Directores of an organization.  Excludes CEO.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value="CxO">
        <xs:annotation>
          <xs:documentation>
            C level Manager of an organization.  Excludes CFO.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="FinancialOfficer">
        <xs:annotation>
          <xs:documentation>
            CFO or Finance Director at an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value="President">
        <xs:annotation>
          <xs:documentation>
            President of an organization
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="SoleProprietor">
        <xs:annotation>
          <xs:documentation>
            Sold Proprietor of an organization
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="VicePresident">
        <xs:annotation>
          <xs:documentation>
            Vice President of an organization.  Excludes CFO/finance Director.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ExecutiveDirector">
        <xs:annotation>
          <xs:documentation>
            Executive Director of an organization.  Excludes CFO/finance Director.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Director">
        <xs:annotation>
          <xs:documentation>
            Director of an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Manager">
        <xs:annotation>
          <xs:documentation>
            Manager of an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Treasurer">
        <xs:annotation>
          <xs:documentation>
            Treasure at an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Secretary">
        <xs:annotation>
          <xs:documentation>
            Secretary at an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value="OtherManager">
        <xs:annotation>
          <xs:documentation>
            Manager level not listed in other categories at an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value="NonManager">
        <xs:annotation>
          <xs:documentation>
            Not a manager at an organization.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name ="Agent">
    <xs:sequence>
      <xs:element	name="qualifer" type="AgentQualifier" minOccurs ="1" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Specifies the type of agent that is acting on behalf of the account or relationship holders.
          </xs:documentation >
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AgentQualifier">
    <xs:restriction base="xs:string">
      <xs:enumeration value ="Custodian">
        <xs:annotation>
          <xs:documentation>
            Party acts as Custodian on behalf other party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Trustee" >
        <xs:annotation>
          <xs:documentation>
            Party acting on behalf of the trust based on trust agreement.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="PowerOfAttorney" >
        <xs:annotation>
          <xs:documentation>
            Party acting on behalf of the other party based on power of attorney letter.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Representative" >
        <xs:annotation>
          <xs:documentation>
            Party which can deposit government checks on behalf the other party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Guardian" >
        <xs:annotation>
          <xs:documentation>
            Party is legal guardian of other party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NextOfKin">
    <xs:annotation>
      <xs:documentation>
        Individual (parent) is next of kind of another individual (child)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="NextOfKinQualifer" minOccurs ="1" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Partner Type
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="NextOfKinQualifer">
    <xs:restriction base="xs:string">
      <xs:enumeration value ="NotSpecified">
        <xs:annotation>
          <xs:documentation>
            Party is next of kind of another party but relationship isn't specified.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Parent">
        <xs:annotation>
          <xs:documentation>
            Party is parent of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Spouse" >
        <xs:annotation>
          <xs:documentation>
            Party is spouse of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="FirstCousin" >
        <xs:annotation>
          <xs:documentation>
            Party is first cousin of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Child" >
        <xs:annotation>
          <xs:documentation>
            Party is child of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Sibling" >
        <xs:annotation>
          <xs:documentation>
            Party is sibling of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GrandChild" >
        <xs:annotation>
          <xs:documentation>
            Party is Grandchild of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGrandchild" >
        <xs:annotation>
          <xs:documentation>
            Party is Grandchild of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="NieceNephew" >
        <xs:annotation>
          <xs:documentation>
            Party is Niece or Nephew of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="AuntUncle" >
        <xs:annotation>
          <xs:documentation>
            Party is Aunt or Uncle of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGrandparent" >
        <xs:annotation>
          <xs:documentation>
            Party is Great Grandparent of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatNieceNephew" >
        <xs:annotation>
          <xs:documentation>
            Party is Great Niece or Great Nephew of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatAuntUncle" >
        <xs:annotation>
          <xs:documentation>
            Party is Great Aunt or Great Uncle of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGreatGrandparent" >
        <xs:annotation>
          <xs:documentation>
            Party is Great-Great Grandparent of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGreatGrandChild" >
        <xs:annotation>
          <xs:documentation>
            Party is Great-Great Grandchild of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="FirstCousinOnceRemoved" >
        <xs:annotation>
          <xs:documentation>
            Party is First Cousin Once Removed of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGrandAuntUncle" >
        <xs:annotation>
          <xs:documentation>
            Party is Great Grand Aunt or Great Grand Uncle of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGreatGreatGrandChild" >
        <xs:annotation>
          <xs:documentation>
            Party is Great-Great-Great Grandchild of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="GreatGreatGreatGrandParent" >
        <xs:annotation>
          <xs:documentation>
            Party is Great-Great-Great Grandparent of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="FirstCousinTwiceRemoved" >
        <xs:annotation>
          <xs:documentation>
            Party is First Cousin Twice Removed of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="SecondCousin" >
        <xs:annotation>
          <xs:documentation>
            Party is Second Cousin of another party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value ="Other" >
        <xs:annotation>
          <xs:documentation>
            Party is related to another party but option not listed. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Trustor">
    <xs:annotation>
      <xs:documentation>
        Individual (parent) is a partner in a business (child)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="TrustorQualifer" minOccurs ="1" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Partner Type
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TrustorQualifer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProvidesFunds">
        <xs:annotation>
          <xs:documentation>
            Individual provides funds to the associated trust.
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PartyAssociationId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The partyAssociation ID is a persistent and unique identifier for the partyAssociation.
          It should be unique for all parties across the institution and remain the same over
          the life of the relationship with the financial institution.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="PartyAssociationIdList">
    <xs:annotation>
      <xs:documentation>
        The partyAssociation ID List contain an Id list for filtering the partyAssociationList services. 
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="partyAssociationId" type="PartyAssociationId" minOccurs="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            The unique identifer to be filtered on.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>