CUFX/Schemas/PermissionList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v2/PermissionList.xsd"
	version="2.1.$Revision$"
	xmlns="http://cufxstandards.com/v2/PermissionList.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v2/Common.xsd"
	xmlns:account="http://cufxstandards.com/v2/Account.xsd"
	xmlns:party="http://cufxstandards.com/v2/Party.xsd"
	xmlns:card="http://cufxstandards.com/v2/Card.xsd"
	xmlns:relationship="http://cufxstandards.com/v2/Relationship.xsd"
  xmlns:credentialGroup="http://cufxstandards.com/v2/CredentialGroup.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Account.xsd" schemaLocation="Account.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Card.xsd" schemaLocation="Card.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Relationship.xsd" schemaLocation="Relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/CredentialGroup.xsd" schemaLocation="CredentialGroup.xsd" />

  <xs:element name="permissionList">
    <xs:annotation>
      <xs:documentation>
        This is a list of actions the user is permitted to perform.
        Any permissions not explicitly in the list should be assumed as not permitted.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="permission" type="Permission" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              An action the principal is permitted to perform.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Permission">
    <xs:sequence>
      <xs:element name="principal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The user, party, or other authenticated entity that will be permitted to perform the action.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="fiUserId" type="credentialGroup:FiUserId" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  The user allowed to perform the action.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  The party allowed to perform the action.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  The relationship allowed to perform the action.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="action" type="ExtendedAction" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The feature that the user is permitted to use.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resource" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The account, user, or other securable asset that the action applies to.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="accountId" type="account:AccountId">
              <xs:annotation>
                <xs:documentation>
                  The account the permitted action applies to.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="fiUserId" type="credentialGroup:FiUserId">
              <xs:annotation>
                <xs:documentation>
                  The user the permitted action applies to.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="cardId" type="card:CardId">
              <xs:annotation>
                <xs:documentation>
                  The card the permitted action applies to.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="relationshipId" type="relationship:RelationshipId">
              <xs:annotation>
                <xs:documentation>
                  The relationship the permitted action applies to.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>  
          
        </xs:complexType>
        
      </xs:element>
      <xs:element name="maxLimits" type="MaxLimits">
        <xs:annotation>
          <xs:documentation>
            Limits encompassing daily, weekly, and monthly maximums for this action specific to this resource, if specified.
            If no resource is given, these limits are institution-wide for the principal.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="ExtendedAction">
    <xs:annotation>
      <xs:documentation>
        The feature that the user is permitted to use, or prevented from using, and is extensible using the "x:" prefix.
        CUFX-compatible client may ignore unrecognized extended actions.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="Action EnumerationExtension"/>
  </xs:simpleType>
  
  <xs:simpleType name="EnumerationExtension">
    <xs:annotation>
      <xs:documentation>
        A string value that must contain a "x:" prefix.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="x:\w+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="Action">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The feature that the user is permitted to use.
        </xs:documentation>
      </xs:annotation>
      <xs:enumeration value="AgreeToTerms">
        <xs:annotation>
          <xs:documentation>
            Legally allowed to agree to electronic terms and conditions for an account or relationship.
            Requires account or relationship resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CategorizeTransactions">
        <xs:annotation>
          <xs:documentation>
            Allowed to select the category of a transaction for later reporting.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CreateUser">
        <xs:annotation>
          <xs:documentation>
            Allows configuring new a user account credential.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GrantAccountAccess">
        <xs:annotation>
          <xs:documentation>
            Allows to grant or revoke account access to a user.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LinkAccount">
        <xs:annotation>
          <xs:documentation>
            Allows adding persistant access to an external account.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageAccountDetail">
        <xs:annotation>
          <xs:documentation>
            Allowed to change an account's nickname or other user-customizable properties.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageAccountRelationships">
        <xs:annotation>
          <xs:documentation>
            Allowed to grant or revoke a party's access to the account.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageAlerts">
        <xs:annotation>
          <xs:documentation>
            Allowed to create, alter, or delete notifications relating to account activity, account balance, 
            suspicious logon behavior, or other automated signalling supported by the system.
            Requires resources as supported by the alert system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageContactInfo">
        <xs:annotation>
          <xs:documentation>
            Allowed to update address, email, phone, or other contact info.
            Requires user or party resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageCredential">
        <xs:annotation>
          <xs:documentation>
            Allowed to change password, or other user credential details.
            Requires user resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManagePayroll">
        <xs:annotation>
          <xs:documentation>
            Allowed to create, modify, and process existing payroll for a business.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManagePreference">
        <xs:annotation>
          <xs:documentation>
            Allowed to modify user preferences details for a business.
            Requires user or relationship resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageScheduledTransfers">
        <xs:annotation>
          <xs:documentation>
            Allowed to modify existing automatic transactions.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageUser">
        <xs:annotation>
          <xs:documentation>
            Allows changing, disabling, enabling, or purging a user entirely.
            Requires user resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OrderChecks">
        <xs:annotation>
          <xs:documentation>
            Allows ordering checks.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PayBills">
        <xs:annotation>
          <xs:documentation>
            Allowed to use the bill payment system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessPayroll">
        <xs:annotation>
          <xs:documentation>
            Processed a configured payroll.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RemoteDeposit">
        <xs:annotation>
          <xs:documentation>
            Allowed to perform a remote deposit capture into an account.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SendSecureMessage">
        <xs:annotation>
          <xs:documentation>
            Allowed to send or reply to a communication within an online banking's secure messaging system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SendWire">
        <xs:annotation>
          <xs:documentation>
            Allowed to send a wire transfer from an account.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StopPayment">
        <xs:annotation>
          <xs:documentation>
            Allowed to request a stop payment on a account's transactions.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TransferDestinationAccount">
        <xs:annotation>
          <xs:documentation>
            Allowed to transfer funds to an account.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TransferSourceAccount">
        <xs:annotation>
          <xs:documentation>
            Allowed to transfer funds from an account.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViewAccountBalance">
        <xs:annotation>
          <xs:documentation>
            Allowed to read account balance.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViewAccountDetail">
        <xs:annotation>
          <xs:documentation>
            Allowed to read account data such as rate, open date, maturity date, regulation D counters, 
            regulation E status, and more.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViewTransactions">
        <xs:annotation>
          <xs:documentation>
            Allowed to read transactions on an account.
            Requires account resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViewSecureMessages">
        <xs:annotation>
          <xs:documentation>
            Allowed to read a communication within an online banking's secure messaging system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViewStatements">
        <xs:annotation>
          <xs:documentation>
            Allowed to read or download account statements.
            Requires account or relationship resource.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MaxLimits">
    <xs:annotation>
      <xs:documentation>
        Limits encompassing daily, weekly, and monthly maximums for a given action and resource.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DailyMax" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:decimal" name="MaxAmount"/>
            <xs:element type="xs:integer" name="MaxNumber"/>
            <xs:element type="xs:decimal" name="RollingAmount"/>
            <xs:element type="xs:integer" name="RollingNumber"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WeeklyMax" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:decimal" name="MaxAmount"/>
            <xs:element type="xs:integer" name="MaxNumber"/>
            <xs:element type="xs:decimal" name="RollingAmount"/>
            <xs:element type="xs:integer" name="RollingNumber"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MonthlyMax" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:decimal" name="MaxAmount"/>
            <xs:element type="xs:integer" name="MaxNumber"/>
            <xs:element type="xs:decimal" name="RollingAmount"/>
            <xs:element type="xs:integer" name="RollingNumber"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


</xs:schema>
