CUFX/Schemas/pfmWADL.xml

<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="../wadl.xsl"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<grammars>
		<include href="CUFX_Account.xsd" />
	</grammars>
	<resources base="https://dataprovider.com/">
		<resource path="/vendor/{appVendorToken}/accountData/{fId}">
			<param name="appVendorToken" style="template" type="xs:string" />
			<param name="fId" style="template" type="xs:string" />
			<method name="POST">
				<request>
					<representation mediaType="application/json"
						element="acc:AccountRequest"></representation>
				</request>
				<response status="200">
					<representation mediaType="application/json"
						element="acc:Accounts"></representation>
				</response>
			</method>
		</resource>
	</resources>
</application>