CUFX/Schemas/ProductServiceRequest.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://cufxstandards.com/v2/ProductServiceRequest.xsd"
	version="2.0.$Revision$"
	xmlns="http://cufxstandards.com/v2/ProductServiceRequest.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:contact="http://cufxstandards.com/v2/Contact.xsd"
	xmlns:party="http://cufxstandards.com/v2/Party.xsd"
	xmlns:relationship="http://cufxstandards.com/v2/Relationship.xsd"
  
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v2/Contact.xsd" schemaLocation="Contact.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v2/Relationship.xsd" schemaLocation="Relationship.xsd" />

  <xs:element name="productServiceRequestList" type="ProductServiceRequestList">
    <xs:annotation>
      <xs:documentation>
        The productServiceRequestList collection/array contains all the productServiceRequests, 
        for instance, that the credential set is authorized to access at the Institution based
        on applied filters.

        The productServiceRequest may be connected to an existing party, relationship and/or contact.
        In addition, a productServiceRequest may exist without an existing relationship or contact.
        The productServiceRequest if created without connection to existing party, contact or relationship
        could be converted to be connected to an existing party, contact and relationship
        or aid in creating a contact, party and relationship.  If created without connection
        to existing party, etc. then it might be sent to a CRM system for follow up with the
        contact or pushed to another system after the productServiceRequest has been fullfilled.
      </xs:documentation>
    </xs:annotation>
    </xs:element>


  <xs:complexType name ="ProductServiceRequestList">
    <xs:annotation>
      <xs:documentation>
        The productServiceRequesList collection/array contains all the productServiceRequests,
        for instance, that the credential set is authorized to access at the Institution based
        on applied filters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productServiceRequest" type="ProductServiceRequest" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <xs:annotation>
          <xs:documentation>
            Collection of fields for a productServiceRequest
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence >
  </xs:complexType>

  <xs:complexType name ="ProductServiceRequest">
    <xs:annotation>
      <xs:documentation>
        The productServiceRequest object defines all the fields necessary to define a
        that an existing or potential party is interested in a particular product or service.
        The productServiceRequest can migrate through several statuses as the ProductServiceRequest progresses.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productServiceRequestId" type="ProductServiceRequestId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the productServiceRequest.  This is not provided as an input,
            but as an output after the productServiceRequest has been created.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="productOfInterestList" type="ProductOfInterestList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A list of Products that the contact is interested in.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="productServiceRequestSource" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            What channel did this productServiceRequest originate from, for example but not limited to web site,
            new member application, walk up, partner web site, business development, marketing, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name ="contactIdList" type ="contact:ContactId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Use if this is for an existing contacts.  Contains a list of existing unique contact ID's
            for how the party/parties which to be contacted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="partyIdList" type="party:PartyId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Collection of key fields to point to a list of existing parties for
            which the productServiceRequest applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name ="partyList" type ="party:PartyList"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Use if this is for new Parties that do not yet exist on the back end systems.
            Contains a list of parties for how the party/parties would like to be contacted.
            There may be a very limited subset of party data available as this is only a
            productServiceRequest for a new party and the amount of information provided
            for the productServiceRequest may be very minimal.
            (such as first and last name and contacts may be email address or a phone number)
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="relationshipIdList" type="relationship:RelationshipId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Collection of key fields to point to a list of
            existing relationships for which the productServiceRequest applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="status" type="Status" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Status of the productServiceRequest to indicate how the ProductServiceRequest 
            is progressing from a workflow standpoint.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="createDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The UTC date/time that the productServiceRequest was created in the system.  The date/time
            should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProductServiceRequestRequestorNote" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Notes entered by requestor.  Free form comments.  This may have been notes entered by the party
            or by the person on behalf of the party to initiate the ProductServiceRequest.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="productServiceRequestFulfillmentNoteList" type="ProductServiceRequestFulfillmentNoteList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Notes entered by personnel that is attempting to follow up on the productServiceRequest to conclusion.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductOfInterestList">
    <xs:annotation>
      <xs:documentation>
        A list of Products that the contact is interested in.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productOfInterest" type="xs:string" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            A product or service that the party is interested in…for example but not
            limited to credit card, mortgage, membership , new account, insurance, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType >

  <xs:simpleType name ="ProductServiceRequestId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The productServiceRequest ID is a persistent and unique identifier
          for the productServiceRequest.
          It should be unique for all ProductServiceRequests across the institution and remain
          the same over the life of the ProductServiceRequest within the financial institution.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction >
  </xs:simpleType>

  <xs:complexType name ="productServiceRequestIdList">
    <xs:annotation>
      <xs:documentation>
        Definition of list of ProductServiceRequest ID's that can be used by other objects to
        point to the each ProductServiceRequest in a list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productServiceRequestId" type="ProductServiceRequestId" minOccurs="0" maxOccurs="unbounded"
        nillable="true">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Status">
    <xs:annotation>
      <xs:documentation>
        Status of the productServiceRequest to indicate how the 
        productServiceRequest is progressing from a workflow standpoint.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base ="xs:string">
      <xs:enumeration value ="New">
        <xs:annotation>
          <xs:documentation>
            The ProductServiceRequest is new and has not been handled by internal teams.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Assigned">
        <xs:annotation>
          <xs:documentation>
            The ProductServiceRequest is has been allocated to a resource to get back to the party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="InDiscussion">
        <xs:annotation>
          <xs:documentation>
            The internal resource has contacted the ProductServiceRequest and negotiating with the party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="InProposal">
        <xs:annotation>
          <xs:documentation>
            The internal resource has proposed a product or service to the party and is waiting on an answer from the party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="VerbalCommitment">
        <xs:annotation>
          <xs:documentation>
            The party has tentatively accepted the proposal but not officially committed to the offer.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Converted">
        <xs:annotation>
          <xs:documentation>
            The party has accepted the proposal and committed to the offer and the process is complete for the ProductServiceRequest.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value ="Lost">
        <xs:annotation>
          <xs:documentation>
            The party has rejected the proposal and is not interested in further proposals and the process is complete for the ProductServiceRequest.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="StatusList">
    <xs:sequence>
     <xs:element name="status" type="Status" minOccurs="0" maxOccurs="unbounded">
       <xs:annotation>
         <xs:documentation>
           List of ProductServiceRequest status, typically used for filtering.
         </xs:documentation>
       </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductServiceRequestFulfillmentNoteList">
    <xs:annotation>
      <xs:documentation>
        Collection of fulfillment note fields.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productServiceRequestFulfillmentNote" type="ProductServiceRequestFulfillmentNote" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            Text of the note entered by person attempting to bring ProductServiceRequest to conclusion.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductServiceRequestFulfillmentNote">
    <xs:annotation>
      <xs:documentation>
        Collection of fulfillment note fields.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productServiceRequestFulfillmentNoteText" type="xs:string" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Text of the note entered by person attempting to bring ProductServiceRequest to conclusion.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="productServiceRequestFulfillmentNoteDateTime" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            UTC Date of when the note was entered into the system by the user.  The date/time
            should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assume to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType >
</xs:schema>



