CUFX/Schemas/SimpleValidationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://cufxstandards.com/v2/SimpleValidationRequest.xsd"
	version="2.0.$Revision$"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://cufxstandards.com/v2/SimpleValidationRequest.xsd"
	xmlns:app="http://cufxstandards.com/v2/Application.xsd">

	<xsd:import schemaLocation="Application.xsd" namespace="http://cufxstandards.com/v2/Application.xsd"></xsd:import>

	<xsd:complexType name="SimpleValidationRequest">
		<xsd:sequence>
			<xsd:element name="applicant" type="app:Applicant" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="validationType" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Service provider specified validation type (Exs.: OFAC, CU Loss, …)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>